<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom"
xmlns:creativeCommons="http://backend.userland.com/creativeCommonsRssModule"
xmlns:re="http://purl.org/atompub/rank/1.0"
xmlns:thr="http://purl.org/syndication/thread/1.0"
xml:lang="zh-CN"
>
  <title type="text">最新的问题 - SegmentFault</title>
  <subtitle type="text">专业面向开发者的中文技术问答社区</subtitle>
  <updated>2013-11-13T23:39:33+08:00</updated>
  <link rel="alternate" type="text/html" href="http://segmentfault.com/" />
  <link rel="self" type="application/atom+xml" href="http://segmentfault.com/feeds" />
  <id>http://segmentfault.com/feeds</id>
  <creativeCommons:license>http://www.creativecommons.org/licenses/by-sa/2.5/rdf</creativeCommons:license>
  <entry>
    <title type="text">有没有不使用任何GC的函数式编程语言？</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000335152" />
    <id>http://segmentfault.com/q/1010000000335152</id>
    <updated>2013-11-12T16:35:51+08:00</updated>
    <published>2013-11-12T16:35:51+08:00</published>
    <author>
      <name>ShiningRay</name>
      <uri>http://segmentfault.com/u/shiningray</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">3</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/%E5%87%BD%E6%95%B0%E5%BC%8F%E7%BC%96%E7%A8%8B" term="函数式编程" />
    <category scheme="http://segmentfault.com/feeds/t/%E5%9E%83%E5%9C%BE%E6%94%B6%E9%9B%86" term="垃圾收集" />
    <summary type="html">
      &lt;p&gt;这里说的函数式编程必须完整支持闭包、匿名函数、First-Class函数、高阶函数。&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000335152" thr:count="1" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000335152" thr:count="1"/>
  </entry>
  <entry>
    <title type="text">go语言开发网站</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000335324" />
    <id>http://segmentfault.com/q/1010000000335324</id>
    <updated>2013-11-12T19:29:28+08:00</updated>
    <published>2013-11-12T19:29:28+08:00</published>
    <author>
      <name>MoMaek肆年</name>
      <uri>http://segmentfault.com/u/momaeksinian</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/go" term="go" />
    <category scheme="http://segmentfault.com/feeds/t/web" term="web" />
    <summary type="html">
      &lt;p&gt;刚刚接触go语言,想用go开发一个网站,我需要哪些方面的知识呢？？我以前是c++的。没有关注过web方面的东西。希望大牛们指点一下。&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000335324" thr:count="3" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000335324" thr:count="3"/>
  </entry>
  <entry>
    <title type="text">Objective-C反编译、混淆？</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000335650" />
    <id>http://segmentfault.com/q/1010000000335650</id>
    <updated>2013-11-13T09:33:14+08:00</updated>
    <published>2013-11-13T09:33:14+08:00</published>
    <author>
      <name>isaced</name>
      <uri>http://segmentfault.com/u/isaced</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/objective-c" term="objective-c" />
    <category scheme="http://segmentfault.com/feeds/t/ios" term="ios" />
    <summary type="html">&lt;p&gt;这个有吗？&lt;/p&gt;</summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000335650" thr:count="2" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000335650" thr:count="2"/>
  </entry>
  <entry>
    <title type="text">如何解决PHP哈希函数的碰撞</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000336215" />
    <id>http://segmentfault.com/q/1010000000336215</id>
    <updated>2013-11-13T23:03:59+08:00</updated>
    <published>2013-11-13T23:03:59+08:00</published>
    <author>
      <name>在低诉</name>
      <uri>http://segmentfault.com/u/zaidisu</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">-2</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/php" term="php" />
    <category scheme="http://segmentfault.com/feeds/t/hash" term="hash" />
    <summary type="html">
      &lt;p&gt;最近想使用Hash函数来根据一个字符串来生成一个惟一的值，但是没找到好用的Hash函数，像PHP内置的MD5、SHA等哈希函数生成的值太长，我没法用，想截取，这样做又担心会出现哈希碰撞，特来拜求高人们用的是什么哈希函数&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000336215" thr:count="2" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000336215" thr:count="2"/>
  </entry>
  <entry>
    <title type="text">MAC OSX 10.9 安装 Tcpreplay 卡住了</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000336251" />
    <id>http://segmentfault.com/q/1010000000336251</id>
    <updated>2013-11-13T23:39:33+08:00</updated>
    <published>2013-11-13T23:39:33+08:00</published>
    <author>
      <name>mechille</name>
      <uri>http://segmentfault.com/u/mechille</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/tcpreplay" term="tcpreplay" />
    <summary type="html">
      &lt;p&gt;我在./configure ;sudo make install的时候总提示如下错误：&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;configure: WARNING: Apple OS X versions prior to 10.5 (Leopard) has a serious problem!
Please see: http://tcpreplay.synfin.net/trac/ticket/142 for more details
Making install in scripts
make[2]: Nothing to be done for `install-exec-am'.
make[2]: Nothing to be done for `install-data-am'.
Making install in lib
gcc -DHAVE_CONFIG_H -I. -I../src     -D_U_="__attribute__((unused))"  -Wall -O3 -std=gnu99    -I/usr/local/include -MT strlcat.o -MD -MP -MF .deps/strlcat.Tpo -c -o strlcat.o strlcat.c
strlcat.c:34:1: error: expected parameter declarator
strlcat(char *dst, const char *src, size_t siz)
^
/usr/include/secure/_string.h:111:44: note: expanded from macro 'strlcat'
  __builtin___strlcat_chk (dest, src, len, __darwin_obsz (dest))
                                           ^
/usr/include/secure/_common.h:39:62: note: expanded from macro '__darwin_obsz'
#define __darwin_obsz(object) __builtin_object_size (object, _USE_FORTIFY_LEVEL &amp;gt; 1 ? 1 : 0)
                                                             ^
/usr/include/secure/_common.h:30:32: note: expanded from macro '_USE_FORTIFY_LEVEL'
#    define _USE_FORTIFY_LEVEL 2
                               ^
strlcat.c:34:1: error: expected ')'
/usr/include/secure/_string.h:111:44: note: expanded from macro 'strlcat'
  __builtin___strlcat_chk (dest, src, len, __darwin_obsz (dest))
                                           ^
/usr/include/secure/_common.h:39:62: note: expanded from macro '__darwin_obsz'
#define __darwin_obsz(object) __builtin_object_size (object, _USE_FORTIFY_LEVEL &amp;gt; 1 ? 1 : 0)
                                                             ^
/usr/include/secure/_common.h:30:32: note: expanded from macro '_USE_FORTIFY_LEVEL'
#    define _USE_FORTIFY_LEVEL 2
                               ^
strlcat.c:34:1: note: to match this '('
/usr/include/secure/_string.h:111:44: note: expanded from macro 'strlcat'
  __builtin___strlcat_chk (dest, src, len, __darwin_obsz (dest))
                                           ^
/usr/include/secure/_common.h:39:53: note: expanded from macro '__darwin_obsz'
#define __darwin_obsz(object) __builtin_object_size (object, _USE_FORTIFY_LEVEL &amp;gt; 1 ? 1 : 0)
                                                    ^
strlcat.c:34:1: warning: type specifier missing, defaults to 'int' [-Wimplicit-int]
strlcat(char *dst, const char *src, size_t siz)
^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/usr/include/secure/_string.h:111:44: note: expanded from macro 'strlcat'
  __builtin___strlcat_chk (dest, src, len, __darwin_obsz (dest))
                                           ^~~~~~~~~~~~~~~~~~~~
/usr/include/secure/_common.h:39:31: note: expanded from macro '__darwin_obsz'
#define __darwin_obsz(object) __builtin_object_size (object, _USE_FORTIFY_LEVEL &amp;gt; 1 ? 1 : 0)
                              ^~~~~~~~~~~~~~~~~~~~~
strlcat.c:34:1: error: conflicting types for '__builtin___strlcat_chk'
/usr/include/secure/_string.h:111:3: note: expanded from macro 'strlcat'
  __builtin___strlcat_chk (dest, src, len, __darwin_obsz (dest))
  ^
strlcat.c:34:1: note: '__builtin___strlcat_chk' is a builtin with type 'unsigned long (char *, const
      char *, unsigned long, unsigned long)'
/usr/include/secure/_string.h:111:3: note: expanded from macro 'strlcat'
  __builtin___strlcat_chk (dest, src, len, __darwin_obsz (dest))
  ^
strlcat.c:34:1: error: definition of builtin function '__builtin___strlcat_chk'
strlcat(char *dst, const char *src, size_t siz)
^
/usr/include/secure/_string.h:111:3: note: expanded from macro 'strlcat'
  __builtin___strlcat_chk (dest, src, len, __darwin_obsz (dest))
  ^
1 warning and 4 errors generated.
make[1]: *** [strlcat.o] Error 1
make: *** [install-recursive] Error 1
&lt;/code&gt;&lt;/pre&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000336251" thr:count="1" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000336251" thr:count="1"/>
  </entry>
  <entry>
    <title type="text">请问需要频繁的调用一个不稳定的回应慢的接口应该怎么设计比较好？</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000333058" />
    <id>http://segmentfault.com/q/1010000000333058</id>
    <updated>2013-11-08T09:44:41+08:00</updated>
    <published>2013-11-08T09:44:41+08:00</published>
    <author>
      <name>cocalrush</name>
      <uri>http://segmentfault.com/u/cocalrush</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/%E6%8E%A5%E5%8F%A3" term="接口" />
    <category scheme="http://segmentfault.com/feeds/t/%E8%AE%BE%E8%AE%A1" term="设计" />
    <summary type="html">
      &lt;p&gt;现在小弟在做一个校验系统的流程，从本地获取到一个list&lt;NO&gt;的表单，然后需要遍历这个表单以NO号为参数从一个接口A获取原始数据然后来校验。
现在的情况是 
1.这个接口A很不稳定，经常会挂掉
2.每天的数据量还蛮大的大概有3w左右的No需要调用。接口A返回数据很慢，处理完一条在1s左右。所以这个系统必须避开高峰在规定时间内完成，当然是越快越好。&lt;/p&gt;

&lt;p&gt;想请问这种情况应该怎么设计比较好呢。
可以考虑多线程，和缓存（因为校验是一次性的，所以在校验完之后缓存是没多大意义的）。
再次感谢。&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000333058" thr:count="6" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000333058" thr:count="6"/>
  </entry>
  <entry>
    <title type="text">openoffice在linux服务器上启动后，没有监听端口。</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000316094" />
    <id>http://segmentfault.com/q/1010000000316094</id>
    <updated>2013-10-06T20:12:34+08:00</updated>
    <published>2013-10-06T20:12:34+08:00</published>
    <author>
      <name>zhangyou1010</name>
      <uri>http://segmentfault.com/u/zhangyou1010</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/openoffice" term="openoffice" />
    <category scheme="http://segmentfault.com/feeds/t/linux" term="linux" />
    <category scheme="http://segmentfault.com/feeds/t/%E7%AB%AF%E5%8F%A3" term="端口" />
    <summary type="html">
      &lt;p&gt;openoffice启动成功后，进程状况如下：&lt;/p&gt;

&lt;p&gt;&lt;img src="http://segmentfault.com/img/bVbuop" alt="请输入图片描述" /&gt;&lt;/p&gt;

&lt;p&gt;对应的端口是8019&lt;/p&gt;

&lt;p&gt;但是，我用查看监听端口命令netstat -ntlp|grep 8019 ，看不到该端口在被监听。如下图：&lt;/p&gt;

&lt;p&gt;&lt;img src="http://segmentfault.com/img/bVbuoq" alt="请输入图片描述" /&gt;&lt;/p&gt;

&lt;p&gt;在另外一台服务器上，是正常的，用netstat命令，可以查看到监听端口，请问，这是怎么回事呢？&lt;/p&gt;

&lt;p&gt;谢谢&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000316094" thr:count="1" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000316094" thr:count="1"/>
  </entry>
  <entry>
    <title type="text">异或交换算法</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000307756" />
    <id>http://segmentfault.com/q/1010000000307756</id>
    <updated>2013-09-13T16:06:00+08:00</updated>
    <published>2013-09-13T16:06:00+08:00</published>
    <author>
      <name>snowwolf007cn</name>
      <uri>http://segmentfault.com/u/snowwolf007cn</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/%E7%AE%97%E6%B3%95" term="算法" />
    <summary type="html">&lt;p&gt;有两个数A和B，现在不通过第三空间交换A和B。&lt;/p&gt;</summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000307756" thr:count="4" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000307756" thr:count="4"/>
  </entry>
  <entry>
    <title type="text">SMTP服务器拒绝PHP函数发送邮件的问题？</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000314460" />
    <id>http://segmentfault.com/q/1010000000314460</id>
    <updated>2013-09-30T00:03:35+08:00</updated>
    <published>2013-09-30T00:03:35+08:00</published>
    <author>
      <name>kamushin</name>
      <uri>http://segmentfault.com/u/kamushin</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/php" term="php" />
    <category scheme="http://segmentfault.com/feeds/t/linux" term="linux" />
    <category scheme="http://segmentfault.com/feeds/t/smtp" term="smtp" />
    <summary type="html">
      &lt;pre&gt;&lt;code&gt;SMTP server error: 5.7.1 &amp;lt;********@qq.com&amp;gt;: Relay access denied
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;登陆服务器用mail -s "test" *****@qq.com 测试过smtp服务器是可以发送邮件的。为什么用PHP写的函数就被拒绝了呢？这段函数以前是起作用的，而且丝毫没动过。&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;public function SendMail($address,$title,$message) {
    vendor('PHPMailer.class#phpmailer');

    $mail=new PHPMailer();
        // 设置PHPMailer使用SMTP服务器发送Email
    $mail-&amp;gt;IsSMTP();
        // set HTML
    $mail-&amp;gt;ishtml(true);

        // 设置邮件的字符编码，若不指定，则为'UTF-8'
    $mail-&amp;gt;CharSet='UTF-8';

        // 添加收件人地址，可以多次使用来添加多个收件人
    $mail-&amp;gt;AddAddress($address);

        // 设置邮件正文
    $mail-&amp;gt;Body=$message;

        // 设置邮件头的From字段。
    $mail-&amp;gt;From=C('MAIL_ADDRESS');

        //设置发件人名字
    $mail-&amp;gt;FromName=C('MAIL_SENDER');

        // 设置邮件标题
    $mail-&amp;gt;Subject=$title;

        // 设置SMTP服务器。
    $mail-&amp;gt;Host=C('MAIL_SMTP');

        // 设置为“需要验证”
    $mail-&amp;gt;SMTPAuth=true;

        // 设置用户名和密码。
    $mail-&amp;gt;Username=C('MAIL_LOGINNAME');

    $mail-&amp;gt;Password=C('MAIL_PASSWORD');

        // 发送邮件。
    $mail-&amp;gt;Send();
    return $mail;
}
&lt;/code&gt;&lt;/pre&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000314460" thr:count="2" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000314460" thr:count="2"/>
  </entry>
  <entry>
    <title type="text">PDO drivers 缺少功能</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000336212" />
    <id>http://segmentfault.com/q/1010000000336212</id>
    <updated>2013-11-13T23:02:08+08:00</updated>
    <published>2013-11-13T23:02:08+08:00</published>
    <author>
      <name>kamushin</name>
      <uri>http://segmentfault.com/u/kamushin</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/php" term="php" />
    <category scheme="http://segmentfault.com/feeds/t/apache2.2" term="apache2.2" />
    <category scheme="http://segmentfault.com/feeds/t/pdo" term="pdo" />
    <summary type="html">
      &lt;pre&gt;&lt;code&gt;ii  libapache2-mod-php5               5.3.10-1ubuntu3.8                   server-side, HTML-embedded scripting language (Apache 2 module)
ii  libsqlite3-0                      3.7.17-1+debphp.org~precise+2       SQLite 3 shared library
ii  php-pear                          5.3.10-1ubuntu3.8                   PEAR - PHP Extension and Application Repository
ii  php5                              5.3.10-1ubuntu3.8                   server-side, HTML-embedded scripting language (metapackage)
ii  php5-cgi                          5.3.10-1ubuntu3.8                   server-side, HTML-embedded scripting language (CGI binary)
ii  php5-cli                          5.3.10-1ubuntu3.8                   command-line interpreter for the php5 scripting language
ii  php5-common                       5.3.10-1ubuntu3.8                   Common files for packages built from the php5 source
ii  php5-curl                         5.3.10-1ubuntu3.8                   CURL module for php5
ii  php5-dev                          5.3.10-1ubuntu3.8                   Files for PHP5 module development
ii  php5-gd                           5.3.10-1ubuntu3.8                   GD module for php5
ii  php5-mysql                        5.3.10-1ubuntu3.8                   MySQL module for php5
ii  php5-odbc                         5.3.10-1ubuntu3.8                   ODBC module for php5
ii  php5-sqlite                       5.3.10-1ubuntu3.8                   SQLite module for php5
ii  php5-sybase                       5.3.10-1ubuntu3.8                   Sybase / MS SQL Server module for php5
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;安装了这些包。按照我以往的经验应该在phpinfo()中得到一下的驱动&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;PDO drivers dblib, mysql, odbc, sqlite
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;但是只得到了&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;PDO drivers mysql
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;请问可能是什么问题？会与apache的配置有关吗？&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000336212" thr:count="0" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000336212" thr:count="0"/>
  </entry>
  <entry>
    <title type="text">有人部署过 Laravel 吗？</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000258721" />
    <id>http://segmentfault.com/q/1010000000258721</id>
    <updated>2013-07-28T12:51:07+08:00</updated>
    <published>2013-07-28T12:51:07+08:00</published>
    <author>
      <name>qianfeng</name>
      <uri>http://segmentfault.com/u/qianfeng</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/php" term="php" />
    <category scheme="http://segmentfault.com/feeds/t/laravel" term="laravel" />
    <summary type="html">
      &lt;p&gt;服务器上，数据库是依赖 Migrations，还是直接导SQL，还是自己写install。&lt;/p&gt;

&lt;p&gt;vender 的是在服务器上也用 composer 还是手动传？&lt;/p&gt;

&lt;p&gt;服务器上也用 artisan/composer 吗?&lt;/p&gt;

&lt;p&gt;其他注意事项有什么？&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000258721" thr:count="2" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000258721" thr:count="2"/>
  </entry>
  <entry>
    <title type="text">请教下 laravel3 里的 use Router</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000334258" />
    <id>http://segmentfault.com/q/1010000000334258</id>
    <updated>2013-11-10T20:22:39+08:00</updated>
    <published>2013-11-10T20:22:39+08:00</published>
    <author>
      <name>可可欠神</name>
      <uri>http://segmentfault.com/u/kekeqianshen</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/php" term="php" />
    <category scheme="http://segmentfault.com/feeds/t/laravel" term="laravel" />
    <summary type="html">
      &lt;p&gt;&lt;img src="http://segmentfault.com/img/bVby7p" alt="laravel3" /&gt;&lt;/p&gt;

&lt;p&gt;如图，laravel3框架里加载的第一个框架核心文件，顶部直接就是 &lt;code&gt;use Router&lt;/code&gt;&lt;br /&gt;
这个 Router 是哪里来的？没看到之前有加载啊，autoload 的部分还没执行到，实在有点想不通了，谁能解释下？&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000334258" thr:count="1" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000334258" thr:count="1"/>
  </entry>
  <entry>
    <title type="text">构造函数中的虚函数</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000336189" />
    <id>http://segmentfault.com/q/1010000000336189</id>
    <updated>2013-11-13T22:37:39+08:00</updated>
    <published>2013-11-13T22:37:39+08:00</published>
    <author>
      <name>Sphinx</name>
      <uri>http://segmentfault.com/u/sphinx</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">1</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/c%2B%2B-%E6%9E%84%E9%80%A0%E5%87%BD%E6%95%B0-%E8%99%9A%E5%87%BD%E6%95%B0" term="c++-构造函数-虚函数" />
    <summary type="html">&lt;p&gt;如果一个类的构造函数中调用了虚函数，会产生什么问题？求解答&lt;/p&gt;</summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000336189" thr:count="0" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000336189" thr:count="0"/>
  </entry>
  <entry>
    <title type="text">firefox上，点击一次a标签，为什么访问两次href地址？</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000336185" />
    <id>http://segmentfault.com/q/1010000000336185</id>
    <updated>2013-11-13T22:36:37+08:00</updated>
    <published>2013-11-13T22:36:37+08:00</published>
    <author>
      <name>Delete...</name>
      <uri>http://segmentfault.com/u/delete</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/html" term="html" />
    <summary type="html">
      &lt;p&gt;&lt;strong&gt;这是前端代码 ：&lt;/strong&gt;&lt;/p&gt;

&lt;p&gt;&lt;code&gt;&amp;lt;a target="_blank" href="http://127.0.0.1:8096/default.aspx?b="&amp;gt;
a标签
&amp;lt;/a&amp;gt;&lt;/code&gt;&lt;/p&gt;

&lt;p&gt;&lt;strong&gt;这是服务器端代码：&lt;/strong&gt;&lt;/p&gt;

&lt;p&gt;&lt;img src="http://segmentfault.com/img/bVbzCp" alt="请输入图片描述" /&gt;&lt;/p&gt;

&lt;p&gt;所以现在现象是，每点击一次a标签，count 就 加2 。难道本来就是这样吗，仅是因为我不知道，还是哪里出错了。&lt;/p&gt;

&lt;p&gt;&lt;img src="http://segmentfault.com/img/bVbzDl" alt="请输入图片描述" /&gt;&lt;/p&gt;

&lt;p&gt;这是每次访问的cookie值，第一次访问的cookie 每次都不一样，而第二次访问就是 在浏览器端看到的那个。&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000336185" thr:count="0" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000336185" thr:count="0"/>
  </entry>
  <entry>
    <title type="text">nginx怎么配置ssl可以即允许http访问也允许https访问</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000335158" />
    <id>http://segmentfault.com/q/1010000000335158</id>
    <updated>2013-11-12T16:40:35+08:00</updated>
    <published>2013-11-12T16:40:35+08:00</published>
    <author>
      <name>cevin</name>
      <uri>http://segmentfault.com/u/cevin</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/nginx" term="nginx" />
    <summary type="html">
      &lt;p&gt;现在配置好后访问http会自动跳转到https- -。好蛋疼&lt;/p&gt;

&lt;pre&gt;&lt;code class="lang-shell"&gt;server {
    listen 80;
    listen 443;

    server_name *.domain.com;
    root /data0/web/domian.com;
    index index.php;

    ssl on; 
    ssl_certificate /data0/configs/domain.com.crt; 
    ssl_certificate_key /data0/configs/domain.com.pem;

    location / {
    }

    include php.conf;
}
&lt;/code&gt;&lt;/pre&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000335158" thr:count="3" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000335158" thr:count="3"/>
  </entry>
  <entry>
    <title type="text">关于solr等搜索引擎的疑问？</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000322556" />
    <id>http://segmentfault.com/q/1010000000322556</id>
    <updated>2013-10-21T09:19:40+08:00</updated>
    <published>2013-10-21T09:19:40+08:00</published>
    <author>
      <name>Charles</name>
      <uri>http://segmentfault.com/u/charles_305995</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/%E6%90%9C%E7%B4%A2%E5%BC%95%E6%93%8E" term="搜索引擎" />
    <summary type="html">
      &lt;p&gt;我现在想从网上爬特定关键词的网页，目前还没有目标网站，想请问下solr这样的搜索引擎支持没有目标网站的爬取了，爬取的效率大概怎么样？&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000322556" thr:count="1" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000322556" thr:count="1"/>
  </entry>
  <entry>
    <title type="text">怎么获取地图数据</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000328558" />
    <id>http://segmentfault.com/q/1010000000328558</id>
    <updated>2013-11-01T09:48:12+08:00</updated>
    <published>2013-11-01T09:48:12+08:00</published>
    <author>
      <name>Bluven</name>
      <uri>http://segmentfault.com/u/bluven</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/%E7%BC%96%E7%A8%8B" term="编程" />
    <category scheme="http://segmentfault.com/feeds/t/%E7%A8%8B%E5%BA%8F%E5%91%98" term="程序员" />
    <category scheme="http://segmentfault.com/feeds/t/web%E5%89%8D%E7%AB%AF%E5%BC%80%E5%8F%91" term="web前端开发" />
    <summary type="html">
      &lt;p&gt;一直对这个挺好奇的，今天偶尔看到有人用SVG画了幅地图。在网上搜了下，例子倒是挺多，但都没有解释数据怎么来的。&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000328558" thr:count="1" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000328558" thr:count="1"/>
  </entry>
  <entry>
    <title type="text">为啥xcode用llvm?</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000336117" />
    <id>http://segmentfault.com/q/1010000000336117</id>
    <updated>2013-11-13T21:26:48+08:00</updated>
    <published>2013-11-13T21:26:48+08:00</published>
    <author>
      <name>disidea</name>
      <uri>http://segmentfault.com/u/idea</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/xcode" term="xcode" />
    <summary type="html">&lt;p&gt;为啥xcode用llvm?&lt;/p&gt;</summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000336117" thr:count="1" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000336117" thr:count="1"/>
  </entry>
  <entry>
    <title type="text">Sina App Engine: 在子目录修改内容后，提交代码总是失败</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000335637" />
    <id>http://segmentfault.com/q/1010000000335637</id>
    <updated>2013-11-13T09:09:57+08:00</updated>
    <published>2013-11-13T09:09:57+08:00</published>
    <author>
      <name>jollywing</name>
      <uri>http://segmentfault.com/u/jollywing</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/sina-app-engine" term="sina-app-engine" />
    <category scheme="http://segmentfault.com/feeds/t/svn" term="svn" />
    <summary type="html">
      &lt;p&gt;最近在 SAE 用 PHP 写个人博客，以前把文件都丢在一个目录下，提交没有什么问题。
最近源文件增多，建了一个admin目录，把管理页面都用 &lt;code&gt;svn mv&lt;/code&gt; 移动到 admin 目录下了。
结果提交出问题了：&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;svn commit -m 'adjust directory structure'
Adding         admin/category.php
svn: E195023: Commit failed (details follow):
svn: E195023: Changing file '/home/wuchen/projects/jollywing/1/admin/category.php' is forbidden by the server
svn: E175013: Access to '/jollywing/!svn/bc/51/1/category.php' forbidden
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;从网上搜索，似乎是因为svn没有对服务器上子目录admin的操作权限。&lt;/p&gt;

&lt;p&gt;求教如何解决？&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000335637" thr:count="2" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000335637" thr:count="2"/>
  </entry>
  <entry>
    <title type="text">solr如何配置同时支持中文和英文的分词器？</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000335951" />
    <id>http://segmentfault.com/q/1010000000335951</id>
    <updated>2013-11-13T15:10:12+08:00</updated>
    <published>2013-11-13T15:10:12+08:00</published>
    <author>
      <name>jayxhj</name>
      <uri>http://segmentfault.com/u/jayxhj</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/solr" term="solr" />
    <category scheme="http://segmentfault.com/feeds/t/%E4%B8%AD%E6%96%87%E5%88%86%E8%AF%8D" term="中文分词" />
    <category scheme="http://segmentfault.com/feeds/t/%E8%8B%B1%E6%96%87%E5%88%86%E8%AF%8D" term="英文分词" />
    <summary type="html">
      &lt;p&gt;我使用solr配置了三个字段，其中一个字段的类型为text&lt;em&gt;general，此类型可以对中文进行分词，但是不对英文分词，那么如何配置一个类型，使其既支持中文分词又支持英文分词？
text&lt;/em&gt;general字段类型的定义如下&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;&amp;lt;fieldType name="text_general" class="solr.TextField" positionIncrementGap="100"&amp;gt;
  &amp;lt;analyzer type="index"&amp;gt;
    &amp;lt;tokenizer class="solr.StandardTokenizerFactory"/&amp;gt;
    &amp;lt;filter class="solr.StopFilterFactory" ignoreCase="true" words="stopwords.txt" /&amp;gt;
    &amp;lt;!-- in this example, we will only use synonyms at query time
    &amp;lt;filter class="solr.SynonymFilterFactory" synonyms="index_synonyms.txt" ignoreCase="true" expand="false"/&amp;gt;
    --&amp;gt;
    &amp;lt;filter class="solr.LowerCaseFilterFactory"/&amp;gt;
  &amp;lt;/analyzer&amp;gt;
  &amp;lt;analyzer type="query"&amp;gt;
    &amp;lt;tokenizer class="solr.StandardTokenizerFactory"/&amp;gt;
    &amp;lt;filter class="solr.StopFilterFactory" ignoreCase="true" words="stopwords.txt" /&amp;gt;
    &amp;lt;filter class="solr.SynonymFilterFactory" synonyms="synonyms.txt" ignoreCase="true" expand="true"/&amp;gt;
    &amp;lt;filter class="solr.LowerCaseFilterFactory"/&amp;gt;
  &amp;lt;/analyzer&amp;gt;
&amp;lt;/fieldType&amp;gt;
&lt;/code&gt;&lt;/pre&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000335951" thr:count="1" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000335951" thr:count="1"/>
  </entry>
  <entry>
    <title type="text">有哪些技巧可以用来尽可能减少代码中的if/else嵌套？</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000330549" />
    <id>http://segmentfault.com/q/1010000000330549</id>
    <updated>2013-11-05T14:46:21+08:00</updated>
    <published>2013-11-05T14:46:21+08:00</published>
    <author>
      <name>youngsterxyf</name>
      <uri>http://segmentfault.com/u/youngsterxyf</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">7</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/%E7%BC%96%E7%A8%8B" term="编程" />
    <category scheme="http://segmentfault.com/feeds/t/%E7%A8%8B%E5%BA%8F%E5%91%98" term="程序员" />
    <summary type="html">
      &lt;p&gt;如题。代码中嵌套的if/else结构往往导致代码不美观，也不易于理解，那么有哪些技巧可以用来尽可能减少代码中的if/else嵌套呢？&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000330549" thr:count="11" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000330549" thr:count="11"/>
  </entry>
  <entry>
    <title type="text">debian/ubuntu 彻底移除Exim4*以后，对系统会有影响么？</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000335984" />
    <id>http://segmentfault.com/q/1010000000335984</id>
    <updated>2013-11-13T16:24:36+08:00</updated>
    <published>2013-11-13T16:24:36+08:00</published>
    <author>
      <name>cevin</name>
      <uri>http://segmentfault.com/u/cevin</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/debian" term="debian" />
    <category scheme="http://segmentfault.com/feeds/t/ubuntu" term="ubuntu" />
    <summary type="html">&lt;p&gt;debian/ubuntu 彻底移除Exim4*以后，对系统会有影响么？&lt;/p&gt;</summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000335984" thr:count="2" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000335984" thr:count="2"/>
  </entry>
  <entry>
    <title type="text">有人解决过uploadify中uploadLimit的BUG吗？</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000336014" />
    <id>http://segmentfault.com/q/1010000000336014</id>
    <updated>2013-11-13T17:07:26+08:00</updated>
    <published>2013-11-13T17:07:26+08:00</published>
    <author>
      <name>Aries</name>
      <uri>http://segmentfault.com/u/aries</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/uploadify" term="uploadify" />
    <summary type="html">
      &lt;p&gt;就是我设置uploadLimit = 5
在上传的过程中，我如果取消一个，队列还有4个。
然后我想再上传一个，就会提示说不让上传了。。。
这个BUG有人解决过吗？&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000336014" thr:count="0" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000336014" thr:count="0"/>
  </entry>
  <entry>
    <title type="text">为何在PHP 开发中需要使用 MVC 架构处理？</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000330269" />
    <id>http://segmentfault.com/q/1010000000330269</id>
    <updated>2013-11-04T23:21:45+08:00</updated>
    <published>2013-11-04T23:21:45+08:00</published>
    <author>
      <name>Leckie</name>
      <uri>http://segmentfault.com/u/leckie_</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/php" term="php" />
    <category scheme="http://segmentfault.com/feeds/t/mvc" term="mvc" />
    <category scheme="http://segmentfault.com/feeds/t/%E5%89%8D%E7%AB%AF" term="前端" />
    <category scheme="http://segmentfault.com/feeds/t/javascript" term="javascript" />
    <category scheme="http://segmentfault.com/feeds/t/%E6%95%B0%E6%8D%AE%E5%BA%93" term="数据库" />
    <summary type="html">
      &lt;p&gt;我第一次接触 &lt;strong&gt;MVC 架构是 ThinkPhp 框架的使用&lt;/strong&gt;。&lt;br /&gt;
我个人觉得这种架构用起来非常的臃肿(个人感觉)，不适合开发。(不是大公司，自己个人开发)。 &lt;/p&gt;

&lt;p&gt;&lt;strong&gt;那种你看不到前端界面进行开发的感觉，感觉很奇怪，总觉得和前端脱了节。&lt;/strong&gt;  &lt;/p&gt;

&lt;p&gt;所以希望有人能给出一些合理的意见，让我有理由相信这种模式能够更好的帮助我开发，谢谢！&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000330269" thr:count="11" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000330269" thr:count="11"/>
  </entry>
  <entry>
    <title type="text">关于天猫双十一的抽奖游戏，我想用JS来模拟空格键盘事件不行，dispatchEvent() 会返回 false，他们是怎么进行限制的</title> 
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000330502" />
    <id>http://segmentfault.com/q/1010000000330502</id>
    <updated>2013-11-05T14:11:23+08:00</updated>
    <published>2013-11-05T14:11:23+08:00</published>
    <author>
      <name>imzhi</name>
      <uri>http://segmentfault.com/u/imzhi</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/javascript" term="javascript" />
    <summary type="html">
      &lt;p&gt;抽奖游戏的网址：&lt;a rel="nofollow" href="http://www.tmall.com/go/act/tmall/2013-khc.php"&gt;http://www.tmall.com/go/act/tmall/2013-khc.php&lt;/a&gt;
刚好看书看到JS模拟键盘事件这里，就想用用：&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;var e = document.createEvent('Events');
e.initEvent('keydown', true, true);
e.view = document.defaultView;
e.altKey = false;
e.ctrlKey = false;
e.shiftKey = false;
e.metaKey = false;
e.keyCode = 65;
e.charCode = 65;
document.documentElement.dispatch(e);
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;最后返回&lt;code&gt;false&lt;/code&gt;，是怎么做的限制，另外有没有能突破限制的方法啊~？&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000330502" thr:count="1" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000330502" thr:count="1"/>
  </entry>
  <entry>
    <title type="text">app状态是ready for sale，如何变为上线</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000335758" />
    <id>http://segmentfault.com/q/1010000000335758</id>
    <updated>2013-11-13T11:43:41+08:00</updated>
    <published>2013-11-13T11:43:41+08:00</published>
    <author>
      <name>PortWatcher</name>
      <uri>http://segmentfault.com/u/portwatcher</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">-1</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/ios" term="ios" />
    <category scheme="http://segmentfault.com/feeds/t/xcode" term="xcode" />
    <summary type="html">
      &lt;ul&gt;
&lt;li&gt;现在它能在app store上搜索到并下载&lt;/li&gt;
&lt;li&gt;我已尝试过设置rights and pricing page，昨天设置了昨天上线，到今天还是ready for sale&lt;/li&gt;
&lt;li&gt;它是一个free的app&lt;/li&gt;
&lt;/ul&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000335758" thr:count="1" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000335758" thr:count="1"/>
  </entry>
  <entry>
    <title type="text">Ruby中二维数组插入元素的问题</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000335921" />
    <id>http://segmentfault.com/q/1010000000335921</id>
    <updated>2013-11-13T14:26:35+08:00</updated>
    <published>2013-11-13T14:26:35+08:00</published>
    <author>
      <name>0-10字节</name>
      <uri>http://segmentfault.com/u/0_10zijie</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/ruby" term="ruby" />
    <summary type="html">
      &lt;p&gt;我想在某一个数组中插入元素，代码如下：&lt;/p&gt;

&lt;pre&gt;&lt;code class="lang-ruby"&gt;foo = Array.new(10,[])
foo[0] &amp;lt;&amp;lt; 1
puts foo.to_s
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;输出的结果是&lt;/p&gt;

&lt;pre&gt;&lt;code class="lang-ruby"&gt;[[1], [1], [1], [1], [1], [1], [1], [1], [1], [1]]
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;这是为什么啊？&lt;/p&gt;

&lt;p&gt;如果是哈希的话&lt;/p&gt;

&lt;pre&gt;&lt;code class="lang-ruby"&gt;bar = Hash.new([])
bar[0] &amp;lt;&amp;lt; 1
puts bar.to_s
puts bar[1].to_s
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;输出的结果是&lt;/p&gt;

&lt;pre&gt;&lt;code class="lang-ruby"&gt;{}
[1]
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;更加摸不着头脑了……求指教……&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000335921" thr:count="1" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000335921" thr:count="1"/>
  </entry>
  <entry>
    <title type="text">无法完成输入？</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000335462" />
    <id>http://segmentfault.com/q/1010000000335462</id>
    <updated>2013-11-12T22:51:39+08:00</updated>
    <published>2013-11-12T22:51:39+08:00</published>
    <author>
      <name>小政</name>
      <uri>http://segmentfault.com/u/xiaozheng</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">0</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/c" term="c" />
    <summary type="html">
      &lt;p&gt;&lt;img src="http://segmentfault.com/img/bVbzqN" alt="这是二叉树的构造程序" /&gt;&lt;/p&gt;

&lt;p&gt;问题描述：在主函数中调用该函数，输入数值后，按下enter键，程序只是切换到下一行，并没有完成输入。请问按什么键才能完成输入？&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000335462" thr:count="2" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000335462" thr:count="2"/>
  </entry>
  <entry>
    <title type="text">前端面试的一个小问题</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000328849" />
    <id>http://segmentfault.com/q/1010000000328849</id>
    <updated>2013-11-01T17:18:21+08:00</updated>
    <published>2013-11-01T17:18:21+08:00</published>
    <author>
      <name>zeng.js</name>
      <uri>http://segmentfault.com/u/zengqifeng</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">5</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/javascript" term="javascript" />
    <category scheme="http://segmentfault.com/feeds/t/%E5%89%8D%E7%AB%AF" term="前端" />
    <category scheme="http://segmentfault.com/feeds/t/%E9%97%AD%E5%8C%85" term="闭包" />
    <summary type="html">
      &lt;p&gt;昨天去一家公司面试前端，第二轮技术面给我出了一个题 &lt;/p&gt;

&lt;pre&gt;&lt;code&gt;var len=4;
while(len--){
    setTimeout(function(){
        alert(len);
    },0);
    alert(len);
}
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;问输出结果当时有点蒙，自己不熟悉setTimeOut函数以为time为0就是立即调用，然后考官说setTimeOut是异步的，即使是0也会在最后执行，结果输出应该为3，2，1，0，-1，-1，-1，-1.后来又变了题目是：&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;var len=4;
while(len--){
    (function(i){
        setTimeout(function(){
            alert(i);
        },0);
    })(len);
    alert(len);
}
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;这次我就很清楚了，产生一个闭包，每次len的变化i都保存了一个copy，所以输出是3，2，1，0，3，2，1，0.但是刚才写demo的时候发现第一段代码的输出符合预期，第二段的输出开始4个是3，2，1，0但是后面的也就是setTimeout中的输出有时候都不一样，有时是0，2，1，3有时是2，1，0，3等等求解释。&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000328849" thr:count="4" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000328849" thr:count="4"/>
  </entry>
  <entry>
    <title type="text">php session 过期时间问题</title>
    <link rel="alternate" type="text/html" href="http://segmentfault.com/q/1010000000335482" />
    <id>http://segmentfault.com/q/1010000000335482</id>
    <updated>2013-11-12T23:27:13+08:00</updated>
    <published>2013-11-12T23:27:13+08:00</published>
    <author>
      <name>徐耀湘</name>
      <uri>http://segmentfault.com/u/xuyaoxiang1991</uri>
    </author>
    <re:rank scheme="http://segmentfault.com/">1</re:rank>
    <category scheme="http://segmentfault.com/feeds/t/php" term="php" />
    <summary type="html">
      &lt;p&gt;用 &lt;code&gt;session.gc_maxlifetime&lt;/code&gt; 设置的话，概率是 &lt;code&gt;gc_probability/gc_divisor&lt;/code&gt;；
不明白为什么要这个规定；这个不明白原理&lt;/p&gt;

&lt;p&gt;发现 session 会监视用户是否活动，然后会自动更新 session 文件的最后修改时间。&lt;/p&gt;

&lt;p&gt;所以写了一个 function 读取 session 文件的最后修改时间，然后跟现在时间对比，如果大于设定的过期时间，假设是 10 分钟。就清空对应 session 的信息。这样可以吗?&lt;/p&gt;

&lt;p&gt;有没有更好的方法？  &lt;/p&gt;

&lt;p&gt;ps:我是指不活动情况下过期时间&lt;/p&gt;

&lt;p&gt;ps:我的问题没有考虑到为每个session的值设独立过期时间问题；&lt;/p&gt;
    </summary>
    <link rel="replies" type="text/html" href="http://segmentfault.com/q/1010000000335482" thr:count="4" />
    <link rel="replies" type="application/atom+xml" href="http://segmentfault.com/feeds/q/1010000000335482" thr:count="4"/>
  </entry>
</feed>