<header class="site-header">
    <div class="container inner clearfix">
        <div class="head-name">
            <a href="/">
                <span class="head-logo">SudoChina</span> <strong>问答</strong>
            </a>
        </div>
        <div class="head-search">
            <form id="search" action="/search/">
                <input type="text" class="form-control text-27 input-search" name="keyword" autocomplete="off" spellcheck="false" placeholder="搜索问题，标签..">
                <button class="btn-search" type="submit">搜索</button>
            </form>
        </div>
        <ul class="head-nav">
            <li class="current">
                <a href="/">技术问答</a>
            </li>
        </ul>
        <div class="head-misc">
            <span>找不到答案？</span>
            <a class="btn btn-primary action" href="/new/question/">+ 提问</a>
        </div>
    </div>
</header>