<div class="global-nav">
    <nav class="global-nav container">
        <a href="###" id="site-nav-btn" class="visible-xs">导航</a>
        <ul class="site-nav hidden-xs">
            <li class="current">
                <a href="/">问答</a>
            </li>
            {{/*
            <li>
                <a href="/news/">新闻</a>
            </li>
            <li>
                <a href="/blogs">博客</a>
            </li>
            <li>
                <a href="/tags">标签</a>
            </li>
            <li>
                <a href="/users">用户</a>
            </li>
            <li>
                <a href="/events">活动</a>
            </li>
            */}}
        </ul>
        <ul class="user-nav">
            {{if .userid}}
                <li class="has-dropdown">
                    <a href="/new/question/">撰写</a>
                    <ul class="dropdown-item">
                        <li>
                            <a href="/new/question/">提出问题</a>
                        </li>
                        {{/*
                        <li>
                            <a href="/write">撰写博客</a>
                        </li>
                        <li class="hr">
                            <a href="/drafts">草稿</a>
                        </li>
                        */}}
                    </ul>
                </li>
            {{if .events}}
                <li class="has-dropdown active">
                    <a id="msg-link" href="/user/events">
                        消息
                        <span class=""></span>
                    </a>
                    <ul id="msg-box" class="dropdown-msg">
                        <li class="no-msg">暂无未读消息</li>
                        <li class="all">
                            <a href="/user/events" style="width: 100%; border-right: none">查看全部</a>
                        </li>
                    </ul>
                </li>
            {{else}}
                {{/*
                <li class="has-dropdown">
                    <a id="msg-link" href="/user/events/">
                        消息
                        <span class=""></span>
                    </a>
                    <ul id="msg-box" class="dropdown-msg">
                        <li>
                            <a href="/user/events/" style="width: 100%; border-right: none">查读消息A</a>
                        </li>
                        <li>
                            <a href="/user/events/" style="width: 100%; border-right: none">查读消息B</a>
                        </li>
                        <li class="no-msg">暂无未读消息</li>
                        <li class="all">
                            <a href="http://segmentfault.com/user/events/" style="width: 100%; border-right: none">查看全部</a>
                        </li>
                    </ul>
                </li>
                */}}
            {{end}}
                <li class="has-dropdown">
                    <a href="/user/{{.username}}/">
                        {{.username}} <i class="i-arrow-s"></i>
                    </a>
                    <ul class="dropdown-item">
                        {{/*
                        <li>
                            <a href="/user/insion/">我的主页</a>
                        </li>
                        <li>
                            <a href="/user/settings/">帐号设置</a>
                        </li>
                        */}}
                        <li>
                            <a href="/user/signout/">退出</a>
                        </li>
                        {{/*
                        <li class="hr">
                            <a href="/faq/">帮助中心</a>
                        </li>
                        <li>
                            <a href="/0x/">建议反馈</a>
                        </li>
                        */}}
                    </ul>
                </li>
            {{else}}
                <li>
                    <a href="/user/signup/">注册</a>
                </li>
                <li>
                    <a id="login-link" href="/user/signin/">登录</a>
                </li>
            {{end}}
        </ul>
    </nav>
    <!-- end .global-nav -->
</div>
