{{template "sdc/head.html".}}
<body id="body">

<!--[if lt IE 9]>
<div class="error chromeframe">
    您的浏览器版本 <strong>很旧很旧</strong>
    ，为了正常地访问SudoChina，请升级您的浏览器
    <a target="_blank" href="http://browsehappy.com">立即升级</a>
</div>
<![endif]-->

{{template "sdc/navbar.html".}}
{{template "sdc/header.html".}}
<div class="container">
    <div class="row edge">
        <div id="main" class="col-md-9">
            <div class="tab-nav">
                <h2 class="common-title">搜索结果</h2>
                {{if .questions}}
                <nav class="sub-tab">
                    <a {{if .tab}}{{if eq .tab "lastest"}}class="current" {{end}}{{end}}href="/lastest/">最新问题</a>
                    <a {{if .tab}}{{if eq .tab "hotness"}}class="current" {{end}}{{end}}href="/hotness/">热门问题</a>
                    <a {{if .tab}}{{if eq .tab "unanswered"}}class="current" {{end}}{{end}}href="/unanswered/">未解之谜</a>
                </nav>
                {{end}}
            </div>

            <div id="content">
                {{if .questions}}
                    {{str2html .questions}}
                {{else}}

                    <article class="post" id="q-0">
                        <div class="status">
                        <span class="answer" title="0 个搜索结果">0</span>
                        </div>
                        <div class="p-summary">
                            <h2>
                                抱歉,没能为你搜索到任何相关资料~
                            </h2>
                        </div>
                    </article>
                    {{/*
                    <article class="post" id="q-0">
                        <div class="status">
                        <span class="answer answered-accepted" title="1 个答案">1</span>
                        <span class="vote" title="0 个投票">0</span>
                        </div>
                        <div class="p-summary">
                        <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" href="/u/leolin1229" title="leolin1229 &bull; 12">
                            <img class="avatar-40" src="http://sfault-avatar.b0.upaiyun.com/303/514/3035146913-1030000000417535_medium40" alt="leolin1229" />
                        </a>
                        <h2>
                            <a href="/0/" title="返回首页">尚无此资料</a>
                        </h2>
                        <div class="meta">
                            <span class="views">
                                <i class="i-view"></i>
                                100 次浏览
                            </span>
                            &nbsp;
                            <ul class="meta-tags">
                                <li>
                                    <i class="i-tag"></i>
                                </li>
                                <li>
                                    <a data-tid="0" href="/tag/golang/">golang</a>
                                    ,
                                </li>
                                <li>
                                    <a data-tid="0" href="/tag/%E7%AE%97%E6%B3%95/">算法</a>
                                    ,
                                </li>
                                <li>
                                    <a data-tid="0" href="/tag/javascript/">javascript</a>
                                    ,
                                </li>
                                <li>
                                    <a data-tid="0" href="/tag/html5/">html5</a>
                                </li>
                            </ul>
                            &nbsp;
                            <span class="datetime">
                                <i class="i-time"></i>
                                1小时前
                            </span>
                        </div>
                        <div class="p-excerpt excerpt-bg">
                            <a class="author" data-toggle="tooltip" data-placement="bottom" rel="tooltip" title="nightire" href="/user/nightire/" data-tip="n:nightire <cite>&bull;</cite>
                            <strong>947</strong>
                            ">
                            <img class="avatar-32" src="http://sfault-avatar.b0.upaiyun.com/263/018/2630188223-1030000000125916_small" alt="nightire" />
                        </a>
                        <p>
                            这事不太容易，很难找到直接..
                            <a href="/0/" class="readmore">阅读全部</a>
                        </p>
                        </div>
                        </div>
                    </article>
                    */}}
                {{end}}

                {{if .pagesbar}}{{.pagesbar}}{{end}}
            </div><!-- end #content -->
        </div><!-- end #main -->
        {{template "sdc/sidebar.html".}}
    </div>
</div><!-- end .wrap -->

{{template "sdc/footer.html".}}
</body>
</html>