<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta name="apple-itunes-app" content="app-id=593777236" />
<meta property="qc:admins" content="15317273575564615446375" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>SegmentFault</title>
<meta name="description" content="专业面向开发者的中文技术问答社区" /> 
<meta name="keywords" content="SegmentFault SF 开发者 程序员 中文 问答 社区" />

<link rel="stylesheet" href="http://s.segmentfault.com/css/normalize.css?13.10.21.1" />
<link rel="stylesheet" href="http://s.segmentfault.com/css/style.css?13.10.21.1" />
<link rel="stylesheet" href="http://s.segmentfault.com/css/responsive.css?13.10.21.1" />

<script src="http://s.segmentfault.com/js/jquery.js?13.10.21.1"></script>
<script src="http://s.segmentfault.com/js/lib.js?13.10.21.1"></script>

<!--[if gt IE 8]>
    <link rel="stylesheet" href="http://s.segmentfault.com/css/ie.css?13.10.21.1" />
<![endif]-->
<!--[if lte IE 8]>
    <script src="http://s.segmentfault.com/js/html5.js?13.10.21.1"></script>
    <link rel="stylesheet" href="http://s.segmentfault.com/css/old-ie.css?13.10.21.1" />
<![endif]-->

<link href="http://s.segmentfault.com/img/icon/favicon.ico?13.10.21.1" rel="shortcut icon" type="image/x-icon" />
<link rel="search" type="application/opensearchdescription+xml" href="opensearch.xml" title="SegmentFault" />

<link rel="apple-touch-icon-precomposed" href="http://s.segmentfault.com/img/icon/sf-57.png?13.10.21.1" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://s.segmentfault.com/img/icon/sf-72.png?13.10.21.1" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://s.segmentfault.com/img/icon/sf-114.png?13.10.21.1" />

<link rel="alternate" type="application/atom+xml" title="订阅 SegmentFault" href="feeds">


</head>
<body id="body">


<!--[if lte IE 8]>
    <div class="error chromeframe">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->



<nav class="global-nav clearfix">
    <a href="badges.html#%23%23" id="site-nav-btn">导航</a>
    <ul class="site-nav mobi-hide">
        <li><a href="index.html">问答</a></li>
        <li><a href="blog.html">博客</a></li>
        <!-- <li><a href="http://segmentfault.com/news">新闻</a></li> -->
        <li><a href="tags.html">标签</a></li>
        <li><a href="users.html">用户</a></li>
        <li><a href="badges.html">徽章</a></li>
        <li><a href="events.html">活动</a></li>
            </ul>
    <ul class="user-nav">
                <li>
            <a id="login-link" href="http://segmentfault.com/user/login">登录</a>
        </li>
        <li>
            <a href="http://segmentfault.com/user/register">注册</a>
        </li>
            </ul>
</nav><!-- end .global-nav -->
<header class="site-header">
    <div class="inner clearfix">
        <div class="head-name">
            <a href="badges.html">
                <img alt="SegmentFault" src="http://s.segmentfault.com/img/logo.png?13.10.21.1" />
                <strong>徽章</strong>
            </a>
        </div>
        <div class="head-search">
            <form id="search" action="http://segmentfault.com/search" metiond="post">
                <input type="text" class="text-27 input-search" name="q" autocomplete="off" spellcheck="false" placeholder="搜索问题，标签，用户">
                <button class="btn-search" type="submit">搜索</button>
            </form>
        </div>
        <!--<ul class="head-nav">
            <li class="current"><a href="">金牌徽章</a></li>
            <li><a href="">银牌徽章</a></li>
            <li><a href="">铜牌徽章</a></li>
        </ul>-->
    </div>
</header><!-- end .site-header -->
<div class="wrap">

<div class="inner edge">
        <h1 class="top-title">徽章</h1>

    <div class="badge-list clearfix">
                <section id="b-1120000000163227" class="badge-item">
            <img src="http://sfault-avatar.b0.upaiyun.com/561/900/56190011-1120000000163227_big64" alt="小试牛刀" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/first-answer">小试牛刀</a></h2>
                <p class="desc">在网站上的第一次回答完成后，将获得该徽章。也是你帮助别人的开始，希望再接再厉</p>
                <p class="meta">
                1.7k 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000161451" class="badge-item even">
            <img src="http://sfault-avatar.b0.upaiyun.com/193/643/1936432330-1120000000161451_big64" alt="初出茅庐" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/startup">初出茅庐</a></h2>
                <p class="desc">在网站上的第一次提问完成后，将获得该徽章。这是融入社区的第一步，希望再接再厉。</p>
                <p class="meta">
                1.6k 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000162068" class="badge-item">
            <img src="http://sfault-avatar.b0.upaiyun.com/420/540/4205409225-1120000000162068_big64" alt="热门问题" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/famous-question">热门问题</a></h2>
                <p class="desc">当提出问题的浏览量达到1000次，你将获得此徽章。此时你的问题已经有比较大认可度和影响力。</p>
                <p class="meta">
                1.3k 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000161408" class="badge-item even">
            <img src="http://sfault-avatar.b0.upaiyun.com/107/793/1077935355-1120000000161408_big64" alt="支持者" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/supporter">支持者</a></h2>
                <p class="desc">当第一次投出赞同票后，将获得该徽章。鼓励他人的付出，可以让社区变得更加美好。</p>
                <p class="meta">
                1k 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000192404" class="badge-item">
            <img src="http://sfault-avatar.b0.upaiyun.com/143/508/1435085460-1120000000192404_big64" alt="第一次编辑操作" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/first-edit">第一次编辑操作</a></h2>
                <p class="desc">第一次进行编辑操作，将获得该徽章</p>
                <p class="meta">
                776 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000161463" class="badge-item even">
            <img src="http://sfault-avatar.b0.upaiyun.com/317/009/3170092226-1120000000161463_big64" alt="学者" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/scholar">学者</a></h2>
                <p class="desc">当第一次采纳他人的答案后，你将获得此徽章。问题解决后采纳最佳答案是一个良好的习惯，这不仅是对回答...</p>
                <p class="meta">
                690 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000162041" class="badge-item">
            <img src="http://sfault-avatar.b0.upaiyun.com/367/638/3676386957-1120000000162041_big64" alt="新手上路" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/newbie">新手上路</a></h2>
                <p class="desc">当阅读过“帮助中心”的内容，将获得该徽章。帮助中心里的内容能帮助你全面地了解网站</p>
                <p class="meta">
                614 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000161467" class="badge-item even">
            <img src="http://sfault-avatar.b0.upaiyun.com/169/965/1699659778-1120000000161467_big64" alt="好学生" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/good-student">好学生</a></h2>
                <p class="desc">当提问第一次得到他人的赞同，将获得该徽章。他人的赞同是对提问者的肯定，好问题能够带给人更多启发</p>
                <p class="meta">
                367 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000162069" class="badge-item">
            <img src="http://sfault-avatar.b0.upaiyun.com/418/782/4187826230-1120000000162069_big64" alt="火爆问题" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/very-famous-question">火爆问题</a></h2>
                <p class="desc">当提出问题的浏览量达到2500次，你将获得此徽章。获得此徽章的问题一般都是可遇而不可求的代表性问题。</p>
                <p class="meta">
                353 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000163242" class="badge-item even">
            <img src="http://sfault-avatar.b0.upaiyun.com/104/576/1045761113-1120000000163242_big64" alt="评论员" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/commentator">评论员</a></h2>
                <p class="desc">留下10条以上的评论，将获得该徽章</p>
                <p class="meta">
                337 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000162042" class="badge-item">
            <img src="http://sfault-avatar.b0.upaiyun.com/399/821/3998219747-1120000000162042_big64" alt="自传作者" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/autobiographer">自传作者</a></h2>
                <p class="desc">当填完用户资料的所有字段并上传头像后，将获得该徽章。完善的用户资料有助于让其它用户了解你。</p>
                <p class="meta">
                315 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000163240" class="badge-item even">
            <img src="http://sfault-avatar.b0.upaiyun.com/191/479/1914790735-1120000000163240_big64" alt="小人物" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/small-potato">小人物</a></h2>
                <p class="desc">提出的问题，一周内没有投票、没有回答、没有评论，也没有几个人看……小人物，大情怀，此徽章是对你的鼓励。</p>
                <p class="meta">
                303 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000162052" class="badge-item">
            <img src="http://sfault-avatar.b0.upaiyun.com/362/322/3623220477-1120000000162052_big64" alt="痴迷者" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/fans">痴迷者</a></h2>
                <p class="desc">当连续30天访问网站，将获得该徽章</p>
                <p class="meta">
                146 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000161450" class="badge-item even">
            <img src="http://sfault-avatar.b0.upaiyun.com/393/193/3931939152-1120000000161450_big64" alt="反对派" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/opposition">反对派</a></h2>
                <p class="desc">当第一次投出反对票后，将获得该徽章。鲜明的表达反对态度，可以更好的帮助他人获取优质知识</p>
                <p class="meta">
                90 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000163211" class="badge-item">
            <img src="http://sfault-avatar.b0.upaiyun.com/681/897/681897051-1120000000163211_big64" alt="好答案" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/good-answer">好答案</a></h2>
                <p class="desc">答案获得10次以上的赞同，将获得该徽章</p>
                <p class="meta">
                38 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000162053" class="badge-item even">
            <img src="http://sfault-avatar.b0.upaiyun.com/259/135/2591354136-1120000000162053_big64" alt="百日斩" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/big-fans">百日斩</a></h2>
                <p class="desc">当连续100天访问网站，将获得该徽章</p>
                <p class="meta">
                20 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000162071" class="badge-item">
            <img src="http://sfault-avatar.b0.upaiyun.com/253/783/2537838796-1120000000162071_big64" alt="著名问题" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/excellently-famous-question">著名问题</a></h2>
                <p class="desc">当提出问题的浏览量达到10000次，将获得该徽章。这是一个非常恐怖的浏览量，我们将永远记住这些提问者</p>
                <p class="meta">
                9 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000163221" class="badge-item even">
            <img src="http://sfault-avatar.b0.upaiyun.com/252/209/2522098365-1120000000163221_big64" alt="好问题" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/good-question">好问题</a></h2>
                <p class="desc">提问获得10次以上的赞，将获得该徽章</p>
                <p class="meta">
                4 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000163214" class="badge-item">
            <img src="http://sfault-avatar.b0.upaiyun.com/250/707/2507074161-1120000000163214_big64" alt="伟大答案" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/great-answer">伟大答案</a></h2>
                <p class="desc">答案获得25次以上的赞同，将获得该徽章</p>
                <p class="meta">
                2 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000192435" class="badge-item even">
            <img src="http://sfault-avatar.b0.upaiyun.com/389/456/3894568847-1120000000192435_big64" alt="小编" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/editor">小编</a></h2>
                <p class="desc">编辑80个以上的帖子，你将获得该徽章</p>
                <p class="meta">
                2 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000187342" class="badge-item">
            <img src="http://sfault-avatar.b0.upaiyun.com/206/571/206571790-1120000000187342_big64" alt="邀请达人" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/professional-inviter">邀请达人</a></h2>
                <p class="desc">成功邀请10个朋友加入网站即可获得该徽章</p>
                <p class="meta">
                1 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000163217" class="badge-item even">
            <img src="http://sfault-avatar.b0.upaiyun.com/142/461/1424619402-1120000000163217_big64" alt="终极答案" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/holy-answer">终极答案</a></h2>
                <p class="desc">答案获得100次以上的赞同，将获得该徽章</p>
                <p class="meta">
                0 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000163223" class="badge-item">
            <img src="http://sfault-avatar.b0.upaiyun.com/506/954/506954548-1120000000163223_big64" alt="伟大问题" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/great-question">伟大问题</a></h2>
                <p class="desc">提问获得25次以上的赞，将获得该徽章</p>
                <p class="meta">
                0 次颁发
                                </p>
            </div>
        </section>
                <section id="b-1120000000163225" class="badge-item even">
            <img src="http://sfault-avatar.b0.upaiyun.com/404/553/4045531970-1120000000163225_big64" alt="终极问题" class="badge-l"/>
            <div class="push-badge-list">
                <h2><a href="http://segmentfault.com/b/holy-question">终极问题</a></h2>
                <p class="desc">提问获得100次以上的赞，将获得该徽章</p>
                <p class="meta">
                0 次颁发
                                </p>
            </div>
        </section>
            </div>

    <div class="pagenav"><a href="http://segmentfault.com/badges/list?page=1" class="current">1</a><a href="http://segmentfault.com/badges/list?page=2">2</a><a class="next" href="http://segmentfault.com/badges/list?page=2">下一页</a></div>
</div>
</div><!-- end .wrap -->

<footer id="footer">
    <div class="inner mobi-hide">
        <dl class="site-link">
            <dt>网站相关</dt>
            <dd><a href="http://segmentfault.com/about">关于我们</a></dd>
            <dd><a href="http://segmentfault.com/license">服务条款</a></dd>
            <dd><a href="http://segmentfault.com/faq">帮助中心</a></dd>
            <dd><a href="http://segmentfault.com/q/1010000000187808">编辑器语法</a></dd>
            <dd><a href="http://0x.segmentfault.com">建议反馈</a></dd>
        </dl>
        <dl class="site-link">
            <dt>联系合作</dt>
            <dd><a href="http://segmentfault.com/link">合作伙伴</a></dd>
            <dd><a href="http://segmentfault.com/advertise">广告投放</a></dd>
            <dd><a href="http://segmentfault.com/press">媒体报道</a></dd>
        </dl>
        <dl class="site-link">
            <dt>常用链接</dt>
            <dd><a href="http://blog.segmentfault.com" target="_blank">开发日志</a></dd>
            <dd><a href="http://segmentfault.com/mobileapp">移动应用</a></dd>
            <dd><a href="http://segmentfault.com/events?category=3">黑客马拉松</a></dd>
            <dd><a href="http://yumiwan.com" target="_blank">玉米湾域名</a></dd>
        </dl>
        <dl class="site-link">
            <dt>关注我们</dt>
            <dd><a href="feeds">RSS 订阅</a></dd>
            <dd><a href="http://weibo.com/segmentfault" target="_blank">新浪微博</a></dd>
            <dd><a href="http://twitter.com/segment_fault" target="_blank">Twitter</a></dd>
            <dd><a href="http://t.qq.com/segmentfault" target="_blank">腾讯微博</a></dd>
            <dd><a href="http://page.renren.com/699146294" target="_blank">人人网</a></dd>
        </dl>
        <dl class="site-link" id="license">
            <dt>内容许可</dt>
            <dd>除特别说明外，用户内容均采用 <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0 中国大陆许可协议</a> 进行许可</dd>
            <dd>本站由 <a target="_blank" href="http://elinkhost.com/">Elinkhost</a> 提供 IDC 服务<br><a target="_blank" href="https://www.upyun.com/?utm_source=segmentfault&utm_medium=link&utm_campaign=upyun&md=segmentfault">又拍云</a> 提供 CDN 存储服务</dd>
        </dl>
    </div>
    <div class="inner copyright">
        Copyright &copy; 2011-2013 SegmentFault. 当前呈现版本 13.10.21        <br>京ICP备12004937号, 京公网安备110108008332号
    </div>
</footer>

<div class="login-notify mobi-hide hidden">
    <a href="badges.html#" class="right i-cancel">关闭</a>
    <span>欢迎来到最专业的中文开发者社区：</span>
    <a class="auth-small" href="http://segmentfault.com/user/login"><img src="http://s.segmentfault.com/img/icon/auth-sf.png?13.10.21.1" alt="SegmentFault"/>立即登录</a>
                <a class="auth-small" href="https://segmentfault.com/user/oauth/google"><img src="http://s.segmentfault.com/img/icon/auth-google-big.png?13.10.21.1" alt="Google" />Google</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/github"><img src="http://s.segmentfault.com/img/icon/auth-github-big.png?13.10.21.1" alt="GitHub" />GitHub</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/weibo"><img src="http://s.segmentfault.com/img/icon/auth-weibo-big.png?13.10.21.1" alt="新浪微博" />新浪微博</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/qq"><img src="http://s.segmentfault.com/img/icon/auth-qq-big.png?13.10.21.1" alt="腾讯QQ" />腾讯QQ</a>
    </div>

<a id="backtop" class="mobi-hide hidden" href="badges.html#body">回顶部</a>

<script>$(document).ready(function(){$('#session').login();$('input[holder],textarea[holder]').placeholder();$('input.input-error,textarea.input-error').keyup(function(){$('.text-error',$(this).removeClass('input-error').parent()).remove();});$('.has-dropdown').hover(function(){var $item=$('.dropdown-item',this);$item.toggleClass('hid');});$('#site-nav-btn').click(function(){$('.site-nav').toggleClass('mobi-hide');return false;});$('html').click(function(){$('.site-nav').addClass('mobi-hide');});$(document).scroll(function(){if($(this).scrollTop()>720){$('#backtop').removeClass('hidden');}else{$('#backtop').addClass('hidden');}});$('#backtop').click(function(){$('body,html').animate({scrollTop:0});return false;})
$('#msg-link').eventPopup({url:'http://x.segmentfault.com/event'});$('.meta-tags a, .tag').tagPopup('http://segmentfault.com/api/tag','#main');$('#search .input-search').searchAutoComplete({url:'http://x.segmentfault.com/autocomplete',insertAfter:'#search',searchUrl:'http://segmentfault.com/search',askUrl:'http://segmentfault.com/ask',ask:'#top-nav a.btn-m'});$('a.msg-close',$('#msg-bar').fadeIn().sticky()).click(function(){$(this).parent().fadeOut(function(){$(this).parent().remove();});return false;});var topNav=$('.head-nav'),search=$('#search .input-search').css({'position':'relavtive','z-index':10}),searchWidth=search.outerWidth();search.focus(function(){search.animate({width:searchWidth*1.5},'fast');topNav.hide();}).blur(function(){if(0==search.val().length){search.animate({width:searchWidth},'fast',function(){topNav.show();});}});$('.tip-pop').each(function(){var t=$(this),str=t.data('tip');if(!!!str){return;}
t.removeAttr('title');var parts=str.split(':');$(this).tipsy({'html':true,'gravity':parts.shift(),'fallback':parts.join(':')});});if($('#profile-tab,.greeting').length>0){$.get('http://x.segmentfault.com/news',function(o){if(!o.status&&o.data){var cv=$.cookie('sfns_viewed'),viewed=(!!cv?cv+',':'');if(viewed.indexOf(o.data[0])<0){var a=$('<a href="'+o.data[1]+'" target="_blank" class="update-log rounded-2">'
+'<strong>'+o.data[3]+'更新</strong> '+o.data[2]+'</a>').prependTo('#secondary').animate({backgroundColor:'#ffebb7'},'slow',function(){$(this).animate({backgroundColor:'#FFF7E2'},'slow');}).click(function(){$.cookie('sfns_viewed',viewed+o.data[0],{path:'/',expires:30});$(this).remove();});}}},'jsonp');}
if(login){$('#main, .layout-main').highlightTag({url:'http://x.segmentfault.com/tag/following',selector:'#content article .meta-tags li a, #user-question article .meta-tags li a,'
+' .article-item .tags li a',className:'q-highlight'});}else if(0==$('.auth-login,.session-form,.session-finished').length){if(1!=$.cookie('sfln_viewed')){$.cookie('sfln_viewed',1,{path:'/'});$.cookie('sfln_available',1,{path:'/'});}else if(1==$.cookie('sfln_available')){$('.i-cancel',$('.login-notify').css('bottom',-60).removeClass('hidden').animate({'bottom':0})).click(function(){$.cookie('sfln_available',0,{path:'/'});$(this).parents('.login-notify').animate({'bottom':-60},function(){$(this).remove();});return false;});}}
var tagInterestShow=false;$('.tag-interest-click').click(function(){if(!tagInterestShow){$('.tag-interest-list').fadeIn();tagInterestShow=true;}else{$('.tag-interest-list').fadeOut();tagInterestShow=false;}
return false;});});(function(){var hm=document.createElement('script');hm.type='text/javascript';hm.async=true;hm.src='//hm.baidu.com/hm.js?e23800c454aa573c0ccb16b52665ac26';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(hm,s);})();var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-918487-8']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>

</body>
</html>
