<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta name="apple-itunes-app" content="app-id=593777236" />
<meta property="qc:admins" content="15317273575564615446375" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Anleb - SegmentFault</title>
<meta name="description" content="专业面向开发者的中文技术问答社区" /> 
<meta name="keywords" content="SegmentFault SF 开发者 程序员 中文 问答 社区" />

<link rel="stylesheet" href="http://s.segmentfault.com/css/normalize.css?13.10.21.1" />
<link rel="stylesheet" href="http://s.segmentfault.com/css/style.css?13.10.21.1" />
<link rel="stylesheet" href="http://s.segmentfault.com/css/responsive.css?13.10.21.1" />

<script src="http://s.segmentfault.com/js/jquery.js?13.10.21.1"></script>
<script src="http://s.segmentfault.com/js/lib.js?13.10.21.1"></script>

<!--[if gt IE 8]>
    <link rel="stylesheet" href="http://s.segmentfault.com/css/ie.css?13.10.21.1" />
<![endif]-->
<!--[if lte IE 8]>
    <script src="http://s.segmentfault.com/js/html5.js?13.10.21.1"></script>
    <link rel="stylesheet" href="http://s.segmentfault.com/css/old-ie.css?13.10.21.1" />
<![endif]-->

<link href="http://s.segmentfault.com/img/icon/favicon.ico?13.10.21.1" rel="shortcut icon" type="image/x-icon" />
<link rel="search" type="application/opensearchdescription+xml" href="../opensearch.xml" title="SegmentFault" />

<link rel="apple-touch-icon-precomposed" href="http://s.segmentfault.com/img/icon/sf-57.png?13.10.21.1" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://s.segmentfault.com/img/icon/sf-72.png?13.10.21.1" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://s.segmentfault.com/img/icon/sf-114.png?13.10.21.1" />

<link rel="alternate" type="application/atom+xml" title="订阅 Anleb - SegmentFault" href="../feeds">


</head>
<body id="body">


<!--[if lte IE 8]>
    <div class="error chromeframe">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->



<nav class="global-nav clearfix">
    <a href="anleb.html#%23%23" id="site-nav-btn">导航</a>
    <ul class="site-nav mobi-hide">
        <li><a href="../index.html">问答</a></li>
        <li><a href="../blog.html">博客</a></li>
        <!-- <li><a href="http://segmentfault.com/news">新闻</a></li> -->
        <li><a href="../tags.html">标签</a></li>
        <li><a href="../users.html">用户</a></li>
        <li><a href="../badges.html">徽章</a></li>
        <li><a href="../events.html">活动</a></li>
            </ul>
    <ul class="user-nav">
                <li>
            <a id="login-link" href="http://segmentfault.com/user/login">登录</a>
        </li>
        <li>
            <a href="http://segmentfault.com/user/register">注册</a>
        </li>
            </ul>
</nav><!-- end .global-nav -->
<header class="site-header">
    <div class="inner clearfix">
        <div class="head-name">
            <a href="../users.html">
                <img alt="SegmentFault" src="http://s.segmentfault.com/img/logo.png?13.10.21.1" />
                <strong>用户</strong>
            </a>
        </div>
        <div class="head-search">
            <form id="search" action="http://segmentfault.com/search">
                <input type="text" class="text-27 input-search" name="q" autocomplete="off" spellcheck="false" placeholder="搜索问题，标签，用户">
                <button class="btn-search" type="submit">搜索</button>
                <input type="hidden" name="tab" value="user" />
            </form>
        </div>
        <ul class="head-nav">
            <li><a href="../users.html">用户排行</a></li>
                    </ul>
    </div>
</header><!-- end .site-header -->
<div class="wrap">

<div class="inner edge">
    <div class="d-action right">
        <div class="d-follow">
                        <a href="anleb.html#" data-uid="1030000000185591" class="btn-l follow">加关注</a>
                    </div>
    </div>
    <h1 class="top-title">Anleb <small class="profile-username">@anleb</small></h1>
    <div id="user-profile" class="clearfix">
        <div class="user-profile-avatar">
            <a href="anleb.html"><img class="avatar-128" src="http://sfault-avatar.b0.upaiyun.com/386/936/3869368340-1030000000185591_huge128" alt="Anleb" /></a>
        </div>
        <ul class="user-profile-info">
                                            
                
                
                
                        </ul>
        <ul class="user-profile-status">
            <li><strong class="r-color">171</strong> 声望值</li>
            <li><strong class="r-color">4</strong> 枚徽章</li>
            <li><strong class="up-color">12</strong> 次被赞</li>
            <li><strong class="down-color">6</strong> 次被踩</li>
        </ul>
        <div class="user-profile-action">
                            <p>专注于思科技术，并且热爱编程</p>            
            4月4日加入
        </div>
    </div><!-- end #user-profile -->


        <div id="main">
            
            <section class="user-data">
                <h2 class="user-data-title"><a href="http://segmentfault.com/u/anleb/tags">16</a> 个标签得分</h2>
                <ul class="user-tag-ranking tag-ranking-list show-pop-tag">
                                        <li>
                <a data-tid="1040000000251701" href="http://segmentfault.com/t/%E6%89%BE%E5%B7%A5%E4%BD%9C" class="tag">找工作</a>
                 &times; 121    </li>
        <li>
                <a data-tid="1040000000089556" href="http://segmentfault.com/t/%E7%A8%8B%E5%BA%8F%E5%91%98" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/257/700/2577009178-i-1040000000089556_icon');">程序员</a>
                 &times; 121    </li>
        <li>
                <a data-tid="1040000000089387" href="http://segmentfault.com/t/php" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/389/392/3893927083-i-1040000000089387_icon');">php</a>
                 &times; 35    </li>
        <li>
                <a data-tid="1040000000089436" href="../t/javascript.html" class="tag">javascript</a>
                 &times; 22    </li>
        <li>
                <a data-tid="1040000000239818" href="http://segmentfault.com/t/ping" class="tag">ping</a>
                 &times; 16    </li>
        <li>
                <a data-tid="1040000000117807" href="../t/web前端开发.html" class="tag">web前端开发</a>
                 &times; 16    </li>
        <li>
                <a data-tid="1040000000090476" href="http://segmentfault.com/t/session" class="tag">session</a>
                 &times; 16    </li>
        <li>
                <a data-tid="1040000000090152" href="http://segmentfault.com/t/%E4%BB%A3%E7%90%86" class="tag">代理</a>
                 &times; 16    </li>
        <li>
                <a data-tid="1040000000089629" href="http://segmentfault.com/t/cookie" class="tag">cookie</a>
                 &times; 16    </li>
        <li>
                <a data-tid="1040000000089439" href="../t/mysql.html" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/152/197/1521975566-i-1040000000089439_icon');">mysql</a>
                 &times; 16    </li>
        <li>
                <a data-tid="1040000000089653" href="http://segmentfault.com/t/%E6%AD%A3%E5%88%99%E8%A1%A8%E8%BE%BE%E5%BC%8F" class="tag">正则表达式</a>
                 &times; 6    </li>
        <li>
                <a data-tid="1040000000126097" href="../t/sublime-text.html" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/129/410/1294106919-i-1040000000126097_icon');">sublime-text</a>
                 &times; 2    </li>
                                        </ul>
            </section>

            
            <section class="user-data">
                <h2 class="user-data-title"><a href="http://segmentfault.com/u/anleb/answers">6</a> 个回答</h2>
                                                    <article class="profile-post" id="a-1020000000308449">
                        <div class="profile-post-vote">
                            <span>1</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000308417/a-1020000000308449" title="现有一需求，登陆输错两次密码，出现图片验证码。如何记录登陆错误次数呢？">现有一需求，登陆输错两次密码，出现图片验证码。如何记录登陆错误次数呢？</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000308417/a-1020000000308449">你说的应该是 安全性的问题，你怕在客户端被 用户 强制 修改cookies是吧 那就用session来做，失败了一直累加数值，直到成功 才把这个 session级别的变量 赋值为0，或者你也可以 利用 间距时间来做，一段时间内 输错多少次，禁止登陆。</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000260154">
                        <div class="profile-post-vote">
                            <span>1</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000260112/a-1020000000260154" title="如何计算出没有分配出去的IP地址">如何计算出没有分配出去的IP地址</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000260112/a-1020000000260154">首先分网段，你给个一段IP区间有什么用？ 网段是由 IP+掩码 才能确定 119.115.0.0--119.115.255.255 分配如下地址 119.115.136.132,119.115.136.135 // 119.115.136.132-135 119.115.141.0,119.115.141.15 //119.115.141.15.0-15 119.115.136.88,119.115.136.91 //119.115.136.88-91 你这是公网地址吧？ 第一个地址段： ...</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000252392">
                        <div class="profile-post-vote">
                            <span>8</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000251702/a-1020000000252392" title="ccnp证书在应届毕业生，找工作中的作用。">ccnp证书在应届毕业生，找工作中的作用。</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000251702/a-1020000000252392">我来回答下，我是09年PASS的CCIE 路由交换方向，在香港考的 LAB 首先，要想考取CCNP，必须要先考取CCNA或者CCNA同等级别的 既然你朋友 想选择 CCNP，说明他 选择了 路由交换方向，其实cisco有几种方向 1）路由交换 2）安全 3）语音 4）存储 路由交换的人普遍很多了，因为有题库，背着题库就可以了。所以 对于大公司，尤...</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000251317">
                        <div class="profile-post-vote">
                            <span>-2</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000251311/a-1020000000251317" title="[C] 关于(*p)++ 与(*p++) 与 *(p++) 大家一起讨论下">[C] 关于(*p)++ 与(*p++) 与 *(p++) 大家一起讨论下</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000251311/a-1020000000251317">我自己解决了。答案：http://www.cnblogs.com/IAmBetter/p/3175711.html</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000240379">
                        <div class="profile-post-vote">
                            <span>1</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000239819/a-1020000000240379" title="单位使用代理上网，但是ping不通外网">单位使用代理上网，但是ping不通外网</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000239819/a-1020000000240379">代理上网，我这样理解了，你是通过 web代理上网，也就是 通常说的浏览器代理上网。 浏览器代理上网只负责web流量的转发，也就是说你通过浏览器转发的数据，是通过这个代理服务器的，然后代理服务器帮你转发一切流量数据，然后返回给你。 回到你现在的问题： 1.ping 一个域名 Ping这个其实只是一个工具，当ping一个域名的...</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000185598">
                        <div class="profile-post-vote resolved">
                            <span>1</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000184073/a-1020000000185598" title="请问一个网站首页中的动态数据获取的流程大概分几步？">请问一个网站首页中的动态数据获取的流程大概分几步？</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000184073/a-1020000000185598">从网络的层面： pc访问server 80端口，流程如下： 1：打开浏览器，输入Url,浏览器 DNS解析 Url(hosts文件-&gt;DNS服务器)获取IP 2：获取目的IP之后发起 TCP 3次握手，握手成功 3：发起 请求端口80端口 4：后端服务器监听80端口，生成session会话，进入web服务组件解析文件，返回html文件给浏览器后端服务器： 1：接受请...</a>
                        </div>
                    </article>
                                            </section>

            <section class="user-data">
                <h2 class="user-data-title"><a href="http://segmentfault.com/u/anleb/questions">4</a> 个提问</h2>
                                                    <article class="profile-post" id="q-1010000000322692">
                        <div class="profile-post-vote">
                            <span>28</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="../q/1010000000322692.html" title="mac下sublime text2无法保存加载的project">mac下sublime text2无法保存加载的project</a></h2>
                            <div class="profile-post-excerpt">1 回答 <span>&bull;</span> 0 赞 <span>&bull;</span> 9小时前</div>
                        </div>
                    </article>
                                    <article class="profile-post" id="q-1010000000267600">
                        <div class="profile-post-vote resolved">
                            <span>230</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000267600" title="求一个Javascript正则表达式">求一个Javascript正则表达式</a></h2>
                            <div class="profile-post-excerpt">3 回答 <span>&bull;</span> 0 赞 <span>&bull;</span> 8月23日</div>
                        </div>
                    </article>
                                    <article class="profile-post" id="q-1010000000251311">
                        <div class="profile-post-vote resolved">
                            <span>336</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000251311" title="[C] 关于(*p)++ 与(*p++) 与 *(p++) 大家一起讨论下">[C] 关于(*p)++ 与(*p++) 与 *(p++) 大家一起讨论下</a></h2>
                            <div class="profile-post-excerpt">3 回答 <span>&bull;</span> -1 赞 <span>&bull;</span> 7月7日</div>
                        </div>
                    </article>
                                    <article class="profile-post" id="q-1010000000251163">
                        <div class="profile-post-vote resolved">
                            <span>310</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000251163" title="[C]关于删除文件到回车站的问题">[C]关于删除文件到回车站的问题</a></h2>
                            <div class="profile-post-excerpt">1 回答 <span>&bull;</span> 0 赞 <span>&bull;</span> 7月5日</div>
                        </div>
                    </article>
                                            </section>

        </div><!-- end #profile-main -->

            <div id="secondary">
                <aside class="box">
            <a href="http://segmentfault.com/u/anleb/awards" class="i-more tip-pop right" data-tip="s:更多">更多</a>
            <h3>获得 <a href="http://segmentfault.com/u/anleb/awards">4</a> 枚徽章</h3>
                        <a class="tip-pop" href="http://segmentfault.com/b/first-edit/1030000000185591" title="第一次编辑操作" data-tip="n:第一次编辑操作" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/143/508/1435085460-1120000000192404_small" alt="第一次编辑操作" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/scholar/1030000000185591" title="学者" data-tip="n:学者" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/317/009/3170092226-1120000000161463_small" alt="学者" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/startup/1030000000185591" title="初出茅庐" data-tip="n:初出茅庐" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/193/643/1936432330-1120000000161451_small" alt="初出茅庐" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/first-answer/1030000000185591" title="小试牛刀" data-tip="n:小试牛刀" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/561/900/56190011-1120000000163227_small" alt="小试牛刀" class="badge-s"/></a>
                    </aside>
        
                <aside class="box">
            <a href="http://segmentfault.com/u/anleb/followers" class="i-more tip-pop right" data-tip="s:更多">更多</a>
            <h3><a href="http://segmentfault.com/u/anleb/followers">1</a> 位关注者</h3>
                        <a class="tip-pop" href="http://segmentfault.com/u/friskfly" title="friskfly" data-tip="n:friskfly"><img class="avatar-24" src="http://sfault-avatar.b0.upaiyun.com/198/004/1980042037-2363_tiny24" alt="friskfly" /></a>
                    </aside>
        
                <aside class="box">
            <h3>得分最高的标签</h3>
            <ul class="tag-ranking-list show-pop-tag">
                    <li>
                <a data-tid="1040000000251701" href="http://segmentfault.com/t/%E6%89%BE%E5%B7%A5%E4%BD%9C" class="tag">找工作</a>
                    </li>
        <li>
                <a data-tid="1040000000089556" href="http://segmentfault.com/t/%E7%A8%8B%E5%BA%8F%E5%91%98" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/257/700/2577009178-i-1040000000089556_icon');">程序员</a>
                    </li>
        <li>
                <a data-tid="1040000000089387" href="http://segmentfault.com/t/php" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/389/392/3893927083-i-1040000000089387_icon');">php</a>
                    </li>
        <li>
                <a data-tid="1040000000089436" href="../t/javascript.html" class="tag">javascript</a>
                    </li>
        <li>
                <a data-tid="1040000000239818" href="http://segmentfault.com/t/ping" class="tag">ping</a>
                    </li>
        <li>
                <a data-tid="1040000000117807" href="../t/web前端开发.html" class="tag">web前端开发</a>
                    </li>
        <li>
                <a data-tid="1040000000090476" href="http://segmentfault.com/t/session" class="tag">session</a>
                    </li>
        <li>
                <a data-tid="1040000000090152" href="http://segmentfault.com/t/%E4%BB%A3%E7%90%86" class="tag">代理</a>
                    </li>
        <li>
                <a data-tid="1040000000089629" href="http://segmentfault.com/t/cookie" class="tag">cookie</a>
                    </li>
        <li>
                <a data-tid="1040000000089439" href="../t/mysql.html" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/152/197/1521975566-i-1040000000089439_icon');">mysql</a>
                    </li>
                    </ul>
        </aside>
                        <aside class="box">
            <h3>本月进步最快的标签</h3>
            <ul class="tag-ranking-list show-pop-tag">
                    <li>
                <a data-tid="1040000000117807" href="../t/web前端开发.html" class="tag">web前端开发</a>
                    </li>
        <li>
                <a data-tid="1040000000090476" href="http://segmentfault.com/t/session" class="tag">session</a>
                    </li>
        <li>
                <a data-tid="1040000000089629" href="http://segmentfault.com/t/cookie" class="tag">cookie</a>
                    </li>
        <li>
                <a data-tid="1040000000089436" href="../t/javascript.html" class="tag">javascript</a>
                    </li>
        <li>
                <a data-tid="1040000000089387" href="http://segmentfault.com/t/php" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/389/392/3893927083-i-1040000000089387_icon');">php</a>
                    </li>
        <li>
                <a data-tid="1040000000126097" href="../t/sublime-text.html" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/129/410/1294106919-i-1040000000126097_icon');">sublime-text</a>
                    </li>
                    </ul>
        </aside>
        
        <aside class="box">
            <a href="http://segmentfault.com/u/anleb/rank" class="i-more tip-pop right" data-tip="s:更多"    >更多</a>
            <h3>声望记录</h3>
            <div class="chart-wrapper">
                                <div class="cplus">
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月2日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月3日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月4日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月5日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月6日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月7日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月8日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月9日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月10日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月11日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月12日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月13日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月14日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月15日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月16日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月17日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月18日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月19日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月20日</i></span>
                                        <span class="col" style="height: 20px"><i>+2 声望<br>10月21日</i></span>
                                    </div>
                <div class="cminus">
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月2日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月3日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月4日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月5日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月6日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月7日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月8日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月9日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月10日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月11日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月12日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月13日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月14日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月15日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月16日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月17日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月18日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月19日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月20日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月21日</i></span>
                                    </div>
            </div>
        </aside>

        <aside class="box post-action">
                                            </aside>
    </div><!-- end #secondary -->




    </div><!-- end .inner .edge -->
</div><!-- end .wrap -->


<footer id="footer">
    <div class="inner mobi-hide">
        <dl class="site-link">
            <dt>网站相关</dt>
            <dd><a href="http://segmentfault.com/about">关于我们</a></dd>
            <dd><a href="http://segmentfault.com/license">服务条款</a></dd>
            <dd><a href="http://segmentfault.com/faq">帮助中心</a></dd>
            <dd><a href="http://segmentfault.com/q/1010000000187808">编辑器语法</a></dd>
            <dd><a href="http://0x.segmentfault.com">建议反馈</a></dd>
        </dl>
        <dl class="site-link">
            <dt>联系合作</dt>
            <dd><a href="http://segmentfault.com/link">合作伙伴</a></dd>
            <dd><a href="http://segmentfault.com/advertise">广告投放</a></dd>
            <dd><a href="http://segmentfault.com/press">媒体报道</a></dd>
        </dl>
        <dl class="site-link">
            <dt>常用链接</dt>
            <dd><a href="http://blog.segmentfault.com" target="_blank">开发日志</a></dd>
            <dd><a href="http://segmentfault.com/mobileapp">移动应用</a></dd>
            <dd><a href="http://segmentfault.com/events?category=3">黑客马拉松</a></dd>
            <dd><a href="http://yumiwan.com" target="_blank">玉米湾域名</a></dd>
        </dl>
        <dl class="site-link">
            <dt>关注我们</dt>
            <dd><a href="../feeds">RSS 订阅</a></dd>
            <dd><a href="http://weibo.com/segmentfault" target="_blank">新浪微博</a></dd>
            <dd><a href="http://twitter.com/segment_fault" target="_blank">Twitter</a></dd>
            <dd><a href="http://t.qq.com/segmentfault" target="_blank">腾讯微博</a></dd>
            <dd><a href="http://page.renren.com/699146294" target="_blank">人人网</a></dd>
        </dl>
        <dl class="site-link" id="license">
            <dt>内容许可</dt>
            <dd>除特别说明外，用户内容均采用 <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0 中国大陆许可协议</a> 进行许可</dd>
            <dd>本站由 <a target="_blank" href="http://elinkhost.com/">Elinkhost</a> 提供 IDC 服务<br><a target="_blank" href="https://www.upyun.com/?utm_source=segmentfault&utm_medium=link&utm_campaign=upyun&md=segmentfault">又拍云</a> 提供 CDN 存储服务</dd>
        </dl>
    </div>
    <div class="inner copyright">
        Copyright &copy; 2011-2013 SegmentFault. 当前呈现版本 13.10.21        <br>京ICP备12004937号, 京公网安备110108008332号
    </div>
</footer>

<div class="login-notify mobi-hide hidden">
    <a href="anleb.html#" class="right i-cancel">关闭</a>
    <span>欢迎来到最专业的中文开发者社区：</span>
    <a class="auth-small" href="http://segmentfault.com/user/login"><img src="http://s.segmentfault.com/img/icon/auth-sf.png?13.10.21.1" alt="SegmentFault"/>立即登录</a>
                <a class="auth-small" href="https://segmentfault.com/user/oauth/google"><img src="http://s.segmentfault.com/img/icon/auth-google-big.png?13.10.21.1" alt="Google" />Google</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/github"><img src="http://s.segmentfault.com/img/icon/auth-github-big.png?13.10.21.1" alt="GitHub" />GitHub</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/weibo"><img src="http://s.segmentfault.com/img/icon/auth-weibo-big.png?13.10.21.1" alt="新浪微博" />新浪微博</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/qq"><img src="http://s.segmentfault.com/img/icon/auth-qq-big.png?13.10.21.1" alt="腾讯QQ" />腾讯QQ</a>
    </div>

<a id="backtop" class="mobi-hide hidden" href="anleb.html#body">回顶部</a>

<script>$(document).ready(function(){$('#session').login();$('input[holder],textarea[holder]').placeholder();$('input.input-error,textarea.input-error').keyup(function(){$('.text-error',$(this).removeClass('input-error').parent()).remove();});$('.has-dropdown').hover(function(){var $item=$('.dropdown-item',this);$item.toggleClass('hid');});$('#site-nav-btn').click(function(){$('.site-nav').toggleClass('mobi-hide');return false;});$('html').click(function(){$('.site-nav').addClass('mobi-hide');});$(document).scroll(function(){if($(this).scrollTop()>720){$('#backtop').removeClass('hidden');}else{$('#backtop').addClass('hidden');}});$('#backtop').click(function(){$('body,html').animate({scrollTop:0});return false;})
$('#msg-link').eventPopup({url:'http://x.segmentfault.com/event'});$('.meta-tags a, .tag').tagPopup('http://segmentfault.com/api/tag','#main');$('#search .input-search').searchAutoComplete({url:'http://x.segmentfault.com/autocomplete',insertAfter:'#search',searchUrl:'http://segmentfault.com/search',askUrl:'http://segmentfault.com/ask',ask:'#top-nav a.btn-m'});$('a.msg-close',$('#msg-bar').fadeIn().sticky()).click(function(){$(this).parent().fadeOut(function(){$(this).parent().remove();});return false;});var topNav=$('.head-nav'),search=$('#search .input-search').css({'position':'relavtive','z-index':10}),searchWidth=search.outerWidth();search.focus(function(){search.animate({width:searchWidth*1.5},'fast');topNav.hide();}).blur(function(){if(0==search.val().length){search.animate({width:searchWidth},'fast',function(){topNav.show();});}});$('.tip-pop').each(function(){var t=$(this),str=t.data('tip');if(!!!str){return;}
t.removeAttr('title');var parts=str.split(':');$(this).tipsy({'html':true,'gravity':parts.shift(),'fallback':parts.join(':')});});if($('#profile-tab,.greeting').length>0){$.get('http://x.segmentfault.com/news',function(o){if(!o.status&&o.data){var cv=$.cookie('sfns_viewed'),viewed=(!!cv?cv+',':'');if(viewed.indexOf(o.data[0])<0){var a=$('<a href="'+o.data[1]+'" target="_blank" class="update-log rounded-2">'
+'<strong>'+o.data[3]+'更新</strong> '+o.data[2]+'</a>').prependTo('#secondary').animate({backgroundColor:'#ffebb7'},'slow',function(){$(this).animate({backgroundColor:'#FFF7E2'},'slow');}).click(function(){$.cookie('sfns_viewed',viewed+o.data[0],{path:'/',expires:30});$(this).remove();});}}},'jsonp');}
if(login){$('#main, .layout-main').highlightTag({url:'http://x.segmentfault.com/tag/following',selector:'#content article .meta-tags li a, #user-question article .meta-tags li a,'
+' .article-item .tags li a',className:'q-highlight'});}else if(0==$('.auth-login,.session-form,.session-finished').length){if(1!=$.cookie('sfln_viewed')){$.cookie('sfln_viewed',1,{path:'/'});$.cookie('sfln_available',1,{path:'/'});}else if(1==$.cookie('sfln_available')){$('.i-cancel',$('.login-notify').css('bottom',-60).removeClass('hidden').animate({'bottom':0})).click(function(){$.cookie('sfln_available',0,{path:'/'});$(this).parents('.login-notify').animate({'bottom':-60},function(){$(this).remove();});return false;});}}
var tagInterestShow=false;$('.tag-interest-click').click(function(){if(!tagInterestShow){$('.tag-interest-list').fadeIn();tagInterestShow=true;}else{$('.tag-interest-list').fadeOut();tagInterestShow=false;}
return false;});});(function(){var hm=document.createElement('script');hm.type='text/javascript';hm.async=true;hm.src='//hm.baidu.com/hm.js?e23800c454aa573c0ccb16b52665ac26';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(hm,s);})();var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-918487-8']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>
<script>$(document).ready(function(){var usersMore=$('.folist .load-more a'),usersPage=2;if(usersMore.length>0){usersMore.click(function(){$.getJSON('http://segmentfault.com/api/user',{'do':'listFollowers','page':usersPage,'id':$(this).data('uid')},function(o){if(!o.status){if(o.data.length>0){for(var i=0;i<o.data.length;i++){var u=o.data[i],html='<article id="u-'+u.id+'" class="post">';html+='<a class="stream-img" href="'+u.url+'">'+'<img class="avatar-40" src="'+u.avatarUrl+'" alt="'
+u.name+'" /></a><div class="p-summary">'
+'<h2><a href="'+u.url+'" title="'+u.name+'">'+u.name+'</a></h2>';if(u.excerpt){html+='<div class="p-excerpt"><p>'+u.excerpt+'</p></div>';}
html+='<div class="meta">'+u.rankWord
+' 声望 &bull; '+u.awards+' 徽章</div></div></article>';var li=$(html).insertBefore(usersMore.parent());}}
if(o.data.length<15){usersMore.parent().remove();}
usersPage++;}});return false;});}
$('.d-action a.btn-l').click(function(){var url='http://segmentfault.com/api/user',t=$(this);$.post(url,{'do':'follow','id':t.data('uid'),'cancel':t.hasClass('unfollow')?1:0},function(o){if(!o.status){if(t.hasClass('unfollow')){t.removeClass('unfollow').addClass('follow').html('加关注');}else{t.removeClass('follow').addClass('unfollow').html('取消关注');}
var count=$('#user-detail .hor-count li.followers strong'),num=count.html(),p=count.parent();p.css('position','relative');count.html(o.data.followedUsers).css('opacity',0.1);$('<strong>'+num+'</strong>').css({'position':'absolute','left':'21px','top':0,'height':count.height(),'z-index':1}).appendTo(p).fadeOut(300);count.animate({opacity:1},300);}else if(7==o.status){$('<p>您关注的用户已经达到 <strong>2000</strong> 的人数上限</p>').modal({'title':'关注用户数达到上限'});}},'json');return false;});$('.post-action .block').click(function(){var cancel=$(this).data('cancel');$('<p>您确认要'+(!cancel?'锁定':'解除锁定')
+'用户「<strong>'+$(this).data('uname')+'</strong>」吗?</p>').modal({'title':!cancel?'锁定确认':'解锁确认','action':!cancel?'锁定':'解除锁定','data':$(this).data('uid'),'onAction':function(c,data){$.post('http://segmentfault.com/api/user',{'do':'block','cancel':cancel,'id':data},function(o){if(!o.status){window.location.reload();}},'json');}});return false;});$('.post-action .delete').click(function(){$('<p>您确认要删除用户「<strong>'+$(this).data('uname')+'</strong>」吗?</p>').modal({'title':'删除确认','action':'删除','data':$(this).data('uid'),'onAction':function(c,data){$.post('http://segmentfault.com/api/user',{'do':'delete','id':data},function(o){if(!o.status){window.location.href='http://segmentfault.com/';}},'json');}});return false;});});</script>
</body>
</html>