<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta name="apple-itunes-app" content="app-id=593777236" />
<meta property="qc:admins" content="15317273575564615446375" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>黄弘 - SegmentFault</title>
<meta name="description" content="专业面向开发者的中文技术问答社区" /> 
<meta name="keywords" content="SegmentFault SF 开发者 程序员 中文 问答 社区" />

<link rel="stylesheet" href="http://s.segmentfault.com/css/normalize.css?13.10.21.1" />
<link rel="stylesheet" href="http://s.segmentfault.com/css/style.css?13.10.21.1" />
<link rel="stylesheet" href="http://s.segmentfault.com/css/responsive.css?13.10.21.1" />

<script src="http://s.segmentfault.com/js/jquery.js?13.10.21.1"></script>
<script src="http://s.segmentfault.com/js/lib.js?13.10.21.1"></script>

<!--[if gt IE 8]>
    <link rel="stylesheet" href="http://s.segmentfault.com/css/ie.css?13.10.21.1" />
<![endif]-->
<!--[if lte IE 8]>
    <script src="http://s.segmentfault.com/js/html5.js?13.10.21.1"></script>
    <link rel="stylesheet" href="http://s.segmentfault.com/css/old-ie.css?13.10.21.1" />
<![endif]-->

<link href="http://s.segmentfault.com/img/icon/favicon.ico?13.10.21.1" rel="shortcut icon" type="image/x-icon" />
<link rel="search" type="application/opensearchdescription+xml" href="../opensearch.xml" title="SegmentFault" />

<link rel="apple-touch-icon-precomposed" href="http://s.segmentfault.com/img/icon/sf-57.png?13.10.21.1" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://s.segmentfault.com/img/icon/sf-72.png?13.10.21.1" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://s.segmentfault.com/img/icon/sf-114.png?13.10.21.1" />

<link rel="alternate" type="application/atom+xml" title="订阅 黄弘 - SegmentFault" href="../feeds">


</head>
<body id="body">


<!--[if lte IE 8]>
    <div class="error chromeframe">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->



<nav class="global-nav clearfix">
    <a href="hongs.html#%23%23" id="site-nav-btn">导航</a>
    <ul class="site-nav mobi-hide">
        <li><a href="../index.html">问答</a></li>
        <li><a href="../blog.html">博客</a></li>
        <!-- <li><a href="http://segmentfault.com/news">新闻</a></li> -->
        <li><a href="../tags.html">标签</a></li>
        <li><a href="../users.html">用户</a></li>
        <li><a href="../badges.html">徽章</a></li>
        <li><a href="../events.html">活动</a></li>
            </ul>
    <ul class="user-nav">
                <li>
            <a id="login-link" href="http://segmentfault.com/user/login">登录</a>
        </li>
        <li>
            <a href="http://segmentfault.com/user/register">注册</a>
        </li>
            </ul>
</nav><!-- end .global-nav -->
<header class="site-header">
    <div class="inner clearfix">
        <div class="head-name">
            <a href="../users.html">
                <img alt="SegmentFault" src="http://s.segmentfault.com/img/logo.png?13.10.21.1" />
                <strong>用户</strong>
            </a>
        </div>
        <div class="head-search">
            <form id="search" action="http://segmentfault.com/search">
                <input type="text" class="text-27 input-search" name="q" autocomplete="off" spellcheck="false" placeholder="搜索问题，标签，用户">
                <button class="btn-search" type="submit">搜索</button>
                <input type="hidden" name="tab" value="user" />
            </form>
        </div>
        <ul class="head-nav">
            <li><a href="../users.html">用户排行</a></li>
                    </ul>
    </div>
</header><!-- end .site-header -->
<div class="wrap">

<div class="inner edge">
    <div class="d-action right">
        <div class="d-follow">
                        <a href="hongs.html#" data-uid="1030000000151393" class="btn-l follow">加关注</a>
                    </div>
    </div>
    <h1 class="top-title">黄弘 <small class="profile-username">@hongs</small></h1>
    <div id="user-profile" class="clearfix">
        <div class="user-profile-avatar">
            <a href="hongs.html"><img class="avatar-128" src="http://sfault-avatar.b0.upaiyun.com/167/582/1675822575-1030000000151393_huge128" alt="黄弘" /></a>
        </div>
        <ul class="user-profile-info">
                                                            <li class="profile-job-title"><strong>臭码农</strong><span>黑作坊</span></li>
                
                                <li class="profile-locate">现居<a rel="nofollow" href="https://maps.google.com/?q=%E4%B8%8A%E6%B5%B7" target="_blank">上海</a></li>
                
                                <li>家里蹲自学控</li>
                
                
                                <li class="profile-bind">
                                                                                <a target="_blank" href="https://profiles.google.com/100500014392076930912"><img src="http://s.segmentfault.com/img/icon/auth-google.png?13.10.21.1" alt="Google" /></a>
                                                        </li>
                        </ul>
        <ul class="user-profile-status">
            <li><strong class="r-color">153</strong> 声望值</li>
            <li><strong class="r-color">7</strong> 枚徽章</li>
            <li><strong class="up-color">9</strong> 次被赞</li>
            <li><strong class="down-color">1</strong> 次被踩</li>
        </ul>
        <div class="user-profile-action">
            
            2012年12月13日加入
        </div>
    </div><!-- end #user-profile -->


        <div id="main">
            
            <section class="user-data">
                <h2 class="user-data-title"><a href="http://segmentfault.com/u/hongs/tags">23</a> 个标签得分</h2>
                <ul class="user-tag-ranking tag-ranking-list show-pop-tag">
                                        <li>
                <a data-tid="1040000000089436" href="../t/javascript.html" class="tag">javascript</a>
                 &times; 50    </li>
        <li>
                <a data-tid="1040000000089434" href="../t/css.html" class="tag">css</a>
                 &times; 47    </li>
        <li>
                <a data-tid="1040000000089571" href="../t/html.html" class="tag">html</a>
                 &times; 43    </li>
        <li>
                <a data-tid="1040000000120408" href="http://segmentfault.com/t/%E5%8C%BF%E5%90%8D%E5%87%BD%E6%95%B0" class="tag">匿名函数</a>
                 &times; 36    </li>
        <li>
                <a data-tid="1040000000090689" href="http://segmentfault.com/t/%E5%87%BD%E6%95%B0" class="tag">函数</a>
                 &times; 36    </li>
        <li>
                <a data-tid="1040000000089733" href="../t/jquery.html" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/417/305/4173050739-i-1040000000089733_icon');">jquery</a>
                 &times; 31    </li>
        <li>
                <a data-tid="1040000000309306" href="http://segmentfault.com/t/socketio" class="tag">socketio</a>
                 &times; 21    </li>
        <li>
                <a data-tid="1040000000090392" href="http://segmentfault.com/t/%E8%AE%BE%E8%AE%A1%E6%A8%A1%E5%BC%8F" class="tag">设计模式</a>
                 &times; 21    </li>
        <li>
                <a data-tid="1040000000089564" href="../t/django.html" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/106/562/1065623784-i-1040000000089564_icon');">django</a>
                 &times; 21    </li>
        <li>
                <a data-tid="1040000000091210" href="http://segmentfault.com/t/bootstrap" class="tag">bootstrap</a>
                 &times; 16    </li>
        <li>
                <a data-tid="1040000000305551" href="http://segmentfault.com/t/%E5%8D%95%E4%BE%8B%E5%A4%9A%E7%BA%BF%E7%A8%8B" class="tag">单例多线程</a>
                 &times; 14    </li>
        <li>
                <a data-tid="1040000000305550" href="http://segmentfault.com/t/%E9%9D%9E%E9%98%BB%E5%A1%9E" class="tag">非阻塞</a>
                 &times; 14    </li>
                                        </ul>
            </section>

            
            <section class="user-data">
                <h2 class="user-data-title"><a href="http://segmentfault.com/u/hongs/answers">6</a> 个回答</h2>
                                                    <article class="profile-post" id="a-1020000000310630">
                        <div class="profile-post-vote resolved">
                            <span>0</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000308331/a-1020000000310630" title="在MVC架构的业务逻辑中，什么情况下需要用到事件的注册、监听、触发？">在MVC架构的业务逻辑中，什么情况下需要用到事件的注册、监听、触发？</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000308331/a-1020000000310630">有不少MVC框架支持服务器端的事件，目标在于解决数据流的分层干预，比如我希望对所有的数据库写都进行过滤判断，来实现数据权限的管控。但事实上服务器端由于并不直接面向用户操作，也就是说没必要在单次请求中使用异步操作（这往往只会增加复杂性），所以上述管控用过滤器方式或继承模型并重写方法更清晰些。 而在客户...</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000309337">
                        <div class="profile-post-vote resolved">
                            <span>0</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000309309/a-1020000000309337" title="django_socketio的events机制如何运行的？">django_socketio的events机制如何运行的？</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000309309/a-1020000000309337">在使用 events 时，我们可以用它提供的装饰器 @on&#95;connect, @on&#95;message 等， 装饰器的作用在于包裹（过滤）你对目标函数的调用， 在 events.py 第 67 行开始， 定义了 on&#95;message 等均指向一个 Event 对象， Event 对象中有实现 &#95;&#95;call&#95;&#95; 函数， 这标志着其对象可以被当作函数执行， 在 &#...</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000307194">
                        <div class="profile-post-vote">
                            <span>2</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000307046/a-1020000000307194" title="网页导航栏鼠标移上去自动弹出下拉菜单是怎么做的？">网页导航栏鼠标移上去自动弹出下拉菜单是怎么做的？</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000307046/a-1020000000307194">谢谢邀请，啥也不说，先上一个不用JS的代码： 方法1： {代码...} 哟，上面有位哥们已经给出了这个答案了。一会有空我再来一个。</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000306556">
                        <div class="profile-post-vote resolved">
                            <span>1</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000306515/a-1020000000306556" title="关于js作用域的问题">关于js作用域的问题</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000306515/a-1020000000306556">哥们，除了作用域你还得看执行顺序呀？例1一秒后执行你的匿名函数，所以是先赋值了6，然后赋值66，1秒后alert，最后赋值666；例2是你们函数定义后就调用了，是先赋值6，再立即执行了函数，执行alert然后赋值666，最后赋值66. 重点在(function() {...})()，这个通常的作用是产生一个新的命名域，定义的变量就不会跟外面的...</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000306206">
                        <div class="profile-post-vote">
                            <span>1</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000305617/a-1020000000306206" title="css怎么处理一行文字，一部分左对齐，一部分右边对齐？">css怎么处理一行文字，一部分左对齐，一部分右边对齐？</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000305617/a-1020000000306206">方法1： {代码...} 方法2： {代码...} 方法3(IE下可能无效，当然你也可以直接上table)： {代码...}</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000305750">
                        <div class="profile-post-vote">
                            <span>0</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000305559/a-1020000000305750" title="非阻塞的servlet还能在线程内共享对象吗？">非阻塞的servlet还能在线程内共享对象吗？</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000305559/a-1020000000305750">我找到一篇相关的文章 http://www.ibm.com/developerworks/cn/java/j-nioserver/ (虽然是篇老文章，但是介绍了 Servlet 中应用 NIO 的方法)，从这篇文章上看，不会存在 doService 过程中调用的对象/方法处于另一个线程中（当然你自己在后面用了多线程除外），也不可能同一工作线程同时处理不同请求，只是主线程变化了而...</a>
                        </div>
                    </article>
                                            </section>

            <section class="user-data">
                <h2 class="user-data-title"><a href="http://segmentfault.com/u/hongs/questions">5</a> 个提问</h2>
                                                    <article class="profile-post" id="q-1010000000322740">
                        <div class="profile-post-vote">
                            <span>38</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="../q/1010000000322740.html" title="如何在 javascript 中实现 unload 延迟跳转 或 有效的不访问网络、不抢光 CPU 的 sleep 方法？">如何在 javascript 中实现 unload 延迟跳转 或 有效的不访问网络、不抢光 CPU 的 sleep 方法？</a></h2>
                            <div class="profile-post-excerpt">0 回答 <span>&bull;</span> 1 赞 <span>&bull;</span> 9小时前</div>
                        </div>
                    </article>
                                    <article class="profile-post" id="q-1010000000312702">
                        <div class="profile-post-vote">
                            <span>160</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000312702" title="ubuntu 12.04 安装 openssh-server 失败，请问怎么该弄？">ubuntu 12.04 安装 openssh-server 失败，请问怎么该弄？</a></h2>
                            <div class="profile-post-excerpt">0 回答 <span>&bull;</span> 0 赞 <span>&bull;</span> 9月25日</div>
                        </div>
                    </article>
                                    <article class="profile-post" id="q-1010000000312001">
                        <div class="profile-post-vote resolved">
                            <span>126</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000312001" title="php v8js 等 javascript  解释器如何才能仅检查 js 代码的语法而不去执行?">php v8js 等 javascript  解释器如何才能仅检查 js 代码的语法而不去执行?</a></h2>
                            <div class="profile-post-excerpt">1 回答 <span>&bull;</span> 0 赞 <span>&bull;</span> 9月24日</div>
                        </div>
                    </article>
                                    <article class="profile-post" id="q-1010000000305981">
                        <div class="profile-post-vote resolved">
                            <span>150</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000305981" title="PHP 5.3 中能用 $abc-&gt;def()[&quot;xxx&quot;]，(new Xxx())-&gt;abc() 这样的语法吗？">PHP 5.3 中能用 $abc-&gt;def()[&quot;xxx&quot;]，(new Xxx())-&gt;abc() 这样的语法吗？</a></h2>
                            <div class="profile-post-excerpt">2 回答 <span>&bull;</span> 0 赞 <span>&bull;</span> 9月10日</div>
                        </div>
                    </article>
                                    <article class="profile-post" id="q-1010000000305559">
                        <div class="profile-post-vote">
                            <span>151</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000305559" title="非阻塞的servlet还能在线程内共享对象吗？">非阻塞的servlet还能在线程内共享对象吗？</a></h2>
                            <div class="profile-post-excerpt">2 回答 <span>&bull;</span> 1 赞 <span>&bull;</span> 9月10日</div>
                        </div>
                    </article>
                                            </section>

        </div><!-- end #profile-main -->

            <div id="secondary">
                <aside class="box">
            <a href="http://segmentfault.com/u/hongs/awards" class="i-more tip-pop right" data-tip="s:更多">更多</a>
            <h3>获得 <a href="http://segmentfault.com/u/hongs/awards">7</a> 枚徽章</h3>
                        <a class="tip-pop" href="http://segmentfault.com/b/commentator/1030000000151393" title="评论员" data-tip="n:评论员" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/104/576/1045761113-1120000000163242_small" alt="评论员" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/scholar/1030000000151393" title="学者" data-tip="n:学者" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/317/009/3170092226-1120000000161463_small" alt="学者" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/supporter/1030000000151393" title="支持者" data-tip="n:支持者" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/107/793/1077935355-1120000000161408_small" alt="支持者" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/good-student/1030000000151393" title="好学生" data-tip="n:好学生" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/169/965/1699659778-1120000000161467_small" alt="好学生" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/first-answer/1030000000151393" title="小试牛刀" data-tip="n:小试牛刀" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/561/900/56190011-1120000000163227_small" alt="小试牛刀" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/first-edit/1030000000151393" title="第一次编辑操作" data-tip="n:第一次编辑操作" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/143/508/1435085460-1120000000192404_small" alt="第一次编辑操作" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/startup/1030000000151393" title="初出茅庐" data-tip="n:初出茅庐" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/193/643/1936432330-1120000000161451_small" alt="初出茅庐" class="badge-s"/></a>
                    </aside>
        
        
                <aside class="box">
            <h3>得分最高的标签</h3>
            <ul class="tag-ranking-list show-pop-tag">
                    <li>
                <a data-tid="1040000000089436" href="../t/javascript.html" class="tag">javascript</a>
                    </li>
        <li>
                <a data-tid="1040000000089434" href="../t/css.html" class="tag">css</a>
                    </li>
        <li>
                <a data-tid="1040000000089571" href="../t/html.html" class="tag">html</a>
                    </li>
        <li>
                <a data-tid="1040000000120408" href="http://segmentfault.com/t/%E5%8C%BF%E5%90%8D%E5%87%BD%E6%95%B0" class="tag">匿名函数</a>
                    </li>
        <li>
                <a data-tid="1040000000090689" href="http://segmentfault.com/t/%E5%87%BD%E6%95%B0" class="tag">函数</a>
                    </li>
        <li>
                <a data-tid="1040000000089733" href="../t/jquery.html" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/417/305/4173050739-i-1040000000089733_icon');">jquery</a>
                    </li>
        <li>
                <a data-tid="1040000000309306" href="http://segmentfault.com/t/socketio" class="tag">socketio</a>
                    </li>
        <li>
                <a data-tid="1040000000090392" href="http://segmentfault.com/t/%E8%AE%BE%E8%AE%A1%E6%A8%A1%E5%BC%8F" class="tag">设计模式</a>
                    </li>
        <li>
                <a data-tid="1040000000089564" href="../t/django.html" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/106/562/1065623784-i-1040000000089564_icon');">django</a>
                    </li>
        <li>
                <a data-tid="1040000000091210" href="http://segmentfault.com/t/bootstrap" class="tag">bootstrap</a>
                    </li>
                    </ul>
        </aside>
                        <aside class="box">
            <h3>本月进步最快的标签</h3>
            <ul class="tag-ranking-list show-pop-tag">
                    <li>
                <a data-tid="1040000000090392" href="http://segmentfault.com/t/%E8%AE%BE%E8%AE%A1%E6%A8%A1%E5%BC%8F" class="tag">设计模式</a>
                    </li>
        <li>
                <a data-tid="1040000000089436" href="../t/javascript.html" class="tag">javascript</a>
                    </li>
        <li>
                <a data-tid="1040000000117807" href="../t/web前端开发.html" class="tag">web前端开发</a>
                    </li>
        <li>
                <a data-tid="1040000000089794" href="../t/web.html" class="tag">web</a>
                    </li>
        <li>
                <a data-tid="1040000000089571" href="../t/html.html" class="tag">html</a>
                    </li>
        <li>
                <a data-tid="1040000000311999" href="http://segmentfault.com/t/v8js" class="tag">v8js</a>
                    </li>
        <li>
                <a data-tid="1040000000089387" href="http://segmentfault.com/t/php" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/389/392/3893927083-i-1040000000089387_icon');">php</a>
                    </li>
        <li>
                <a data-tid="1040000000312700" href="http://segmentfault.com/t/openssh" class="tag">openssh</a>
                    </li>
        <li>
                <a data-tid="1040000000090245" href="http://segmentfault.com/t/ubuntu" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/394/450/3944508884-i-1040000000090245_icon');">ubuntu</a>
                    </li>
        <li>
                <a data-tid="1040000000089688" href="http://segmentfault.com/t/ssh" class="tag">ssh</a>
                    </li>
                    </ul>
        </aside>
        
        <aside class="box">
            <a href="http://segmentfault.com/u/hongs/rank" class="i-more tip-pop right" data-tip="s:更多"    >更多</a>
            <h3>声望记录</h3>
            <div class="chart-wrapper">
                                <div class="cplus">
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月2日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月3日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月4日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月5日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月6日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月7日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月8日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月9日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月10日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月11日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月12日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月13日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月14日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月15日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月16日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月17日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月18日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月19日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月20日</i></span>
                                        <span class="col" style="height: 60px"><i>+12 声望<br>10月21日</i></span>
                                    </div>
                <div class="cminus">
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月2日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月3日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月4日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月5日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月6日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月7日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月8日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月9日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月10日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月11日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月12日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月13日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月14日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月15日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月16日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月17日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月18日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月19日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月20日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月21日</i></span>
                                    </div>
            </div>
        </aside>

        <aside class="box post-action">
                                            </aside>
    </div><!-- end #secondary -->




    </div><!-- end .inner .edge -->
</div><!-- end .wrap -->


<footer id="footer">
    <div class="inner mobi-hide">
        <dl class="site-link">
            <dt>网站相关</dt>
            <dd><a href="http://segmentfault.com/about">关于我们</a></dd>
            <dd><a href="http://segmentfault.com/license">服务条款</a></dd>
            <dd><a href="http://segmentfault.com/faq">帮助中心</a></dd>
            <dd><a href="http://segmentfault.com/q/1010000000187808">编辑器语法</a></dd>
            <dd><a href="http://0x.segmentfault.com">建议反馈</a></dd>
        </dl>
        <dl class="site-link">
            <dt>联系合作</dt>
            <dd><a href="http://segmentfault.com/link">合作伙伴</a></dd>
            <dd><a href="http://segmentfault.com/advertise">广告投放</a></dd>
            <dd><a href="http://segmentfault.com/press">媒体报道</a></dd>
        </dl>
        <dl class="site-link">
            <dt>常用链接</dt>
            <dd><a href="http://blog.segmentfault.com" target="_blank">开发日志</a></dd>
            <dd><a href="http://segmentfault.com/mobileapp">移动应用</a></dd>
            <dd><a href="http://segmentfault.com/events?category=3">黑客马拉松</a></dd>
            <dd><a href="http://yumiwan.com" target="_blank">玉米湾域名</a></dd>
        </dl>
        <dl class="site-link">
            <dt>关注我们</dt>
            <dd><a href="../feeds">RSS 订阅</a></dd>
            <dd><a href="http://weibo.com/segmentfault" target="_blank">新浪微博</a></dd>
            <dd><a href="http://twitter.com/segment_fault" target="_blank">Twitter</a></dd>
            <dd><a href="http://t.qq.com/segmentfault" target="_blank">腾讯微博</a></dd>
            <dd><a href="http://page.renren.com/699146294" target="_blank">人人网</a></dd>
        </dl>
        <dl class="site-link" id="license">
            <dt>内容许可</dt>
            <dd>除特别说明外，用户内容均采用 <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0 中国大陆许可协议</a> 进行许可</dd>
            <dd>本站由 <a target="_blank" href="http://elinkhost.com/">Elinkhost</a> 提供 IDC 服务<br><a target="_blank" href="https://www.upyun.com/?utm_source=segmentfault&utm_medium=link&utm_campaign=upyun&md=segmentfault">又拍云</a> 提供 CDN 存储服务</dd>
        </dl>
    </div>
    <div class="inner copyright">
        Copyright &copy; 2011-2013 SegmentFault. 当前呈现版本 13.10.21        <br>京ICP备12004937号, 京公网安备110108008332号
    </div>
</footer>

<div class="login-notify mobi-hide hidden">
    <a href="hongs.html#" class="right i-cancel">关闭</a>
    <span>欢迎来到最专业的中文开发者社区：</span>
    <a class="auth-small" href="http://segmentfault.com/user/login"><img src="http://s.segmentfault.com/img/icon/auth-sf.png?13.10.21.1" alt="SegmentFault"/>立即登录</a>
                <a class="auth-small" href="https://segmentfault.com/user/oauth/google"><img src="http://s.segmentfault.com/img/icon/auth-google-big.png?13.10.21.1" alt="Google" />Google</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/github"><img src="http://s.segmentfault.com/img/icon/auth-github-big.png?13.10.21.1" alt="GitHub" />GitHub</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/weibo"><img src="http://s.segmentfault.com/img/icon/auth-weibo-big.png?13.10.21.1" alt="新浪微博" />新浪微博</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/qq"><img src="http://s.segmentfault.com/img/icon/auth-qq-big.png?13.10.21.1" alt="腾讯QQ" />腾讯QQ</a>
    </div>

<a id="backtop" class="mobi-hide hidden" href="hongs.html#body">回顶部</a>

<script>$(document).ready(function(){$('#session').login();$('input[holder],textarea[holder]').placeholder();$('input.input-error,textarea.input-error').keyup(function(){$('.text-error',$(this).removeClass('input-error').parent()).remove();});$('.has-dropdown').hover(function(){var $item=$('.dropdown-item',this);$item.toggleClass('hid');});$('#site-nav-btn').click(function(){$('.site-nav').toggleClass('mobi-hide');return false;});$('html').click(function(){$('.site-nav').addClass('mobi-hide');});$(document).scroll(function(){if($(this).scrollTop()>720){$('#backtop').removeClass('hidden');}else{$('#backtop').addClass('hidden');}});$('#backtop').click(function(){$('body,html').animate({scrollTop:0});return false;})
$('#msg-link').eventPopup({url:'http://x.segmentfault.com/event'});$('.meta-tags a, .tag').tagPopup('http://segmentfault.com/api/tag','#main');$('#search .input-search').searchAutoComplete({url:'http://x.segmentfault.com/autocomplete',insertAfter:'#search',searchUrl:'http://segmentfault.com/search',askUrl:'http://segmentfault.com/ask',ask:'#top-nav a.btn-m'});$('a.msg-close',$('#msg-bar').fadeIn().sticky()).click(function(){$(this).parent().fadeOut(function(){$(this).parent().remove();});return false;});var topNav=$('.head-nav'),search=$('#search .input-search').css({'position':'relavtive','z-index':10}),searchWidth=search.outerWidth();search.focus(function(){search.animate({width:searchWidth*1.5},'fast');topNav.hide();}).blur(function(){if(0==search.val().length){search.animate({width:searchWidth},'fast',function(){topNav.show();});}});$('.tip-pop').each(function(){var t=$(this),str=t.data('tip');if(!!!str){return;}
t.removeAttr('title');var parts=str.split(':');$(this).tipsy({'html':true,'gravity':parts.shift(),'fallback':parts.join(':')});});if($('#profile-tab,.greeting').length>0){$.get('http://x.segmentfault.com/news',function(o){if(!o.status&&o.data){var cv=$.cookie('sfns_viewed'),viewed=(!!cv?cv+',':'');if(viewed.indexOf(o.data[0])<0){var a=$('<a href="'+o.data[1]+'" target="_blank" class="update-log rounded-2">'
+'<strong>'+o.data[3]+'更新</strong> '+o.data[2]+'</a>').prependTo('#secondary').animate({backgroundColor:'#ffebb7'},'slow',function(){$(this).animate({backgroundColor:'#FFF7E2'},'slow');}).click(function(){$.cookie('sfns_viewed',viewed+o.data[0],{path:'/',expires:30});$(this).remove();});}}},'jsonp');}
if(login){$('#main, .layout-main').highlightTag({url:'http://x.segmentfault.com/tag/following',selector:'#content article .meta-tags li a, #user-question article .meta-tags li a,'
+' .article-item .tags li a',className:'q-highlight'});}else if(0==$('.auth-login,.session-form,.session-finished').length){if(1!=$.cookie('sfln_viewed')){$.cookie('sfln_viewed',1,{path:'/'});$.cookie('sfln_available',1,{path:'/'});}else if(1==$.cookie('sfln_available')){$('.i-cancel',$('.login-notify').css('bottom',-60).removeClass('hidden').animate({'bottom':0})).click(function(){$.cookie('sfln_available',0,{path:'/'});$(this).parents('.login-notify').animate({'bottom':-60},function(){$(this).remove();});return false;});}}
var tagInterestShow=false;$('.tag-interest-click').click(function(){if(!tagInterestShow){$('.tag-interest-list').fadeIn();tagInterestShow=true;}else{$('.tag-interest-list').fadeOut();tagInterestShow=false;}
return false;});});(function(){var hm=document.createElement('script');hm.type='text/javascript';hm.async=true;hm.src='//hm.baidu.com/hm.js?e23800c454aa573c0ccb16b52665ac26';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(hm,s);})();var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-918487-8']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>
<script>$(document).ready(function(){var usersMore=$('.folist .load-more a'),usersPage=2;if(usersMore.length>0){usersMore.click(function(){$.getJSON('http://segmentfault.com/api/user',{'do':'listFollowers','page':usersPage,'id':$(this).data('uid')},function(o){if(!o.status){if(o.data.length>0){for(var i=0;i<o.data.length;i++){var u=o.data[i],html='<article id="u-'+u.id+'" class="post">';html+='<a class="stream-img" href="'+u.url+'">'+'<img class="avatar-40" src="'+u.avatarUrl+'" alt="'
+u.name+'" /></a><div class="p-summary">'
+'<h2><a href="'+u.url+'" title="'+u.name+'">'+u.name+'</a></h2>';if(u.excerpt){html+='<div class="p-excerpt"><p>'+u.excerpt+'</p></div>';}
html+='<div class="meta">'+u.rankWord
+' 声望 &bull; '+u.awards+' 徽章</div></div></article>';var li=$(html).insertBefore(usersMore.parent());}}
if(o.data.length<15){usersMore.parent().remove();}
usersPage++;}});return false;});}
$('.d-action a.btn-l').click(function(){var url='http://segmentfault.com/api/user',t=$(this);$.post(url,{'do':'follow','id':t.data('uid'),'cancel':t.hasClass('unfollow')?1:0},function(o){if(!o.status){if(t.hasClass('unfollow')){t.removeClass('unfollow').addClass('follow').html('加关注');}else{t.removeClass('follow').addClass('unfollow').html('取消关注');}
var count=$('#user-detail .hor-count li.followers strong'),num=count.html(),p=count.parent();p.css('position','relative');count.html(o.data.followedUsers).css('opacity',0.1);$('<strong>'+num+'</strong>').css({'position':'absolute','left':'21px','top':0,'height':count.height(),'z-index':1}).appendTo(p).fadeOut(300);count.animate({opacity:1},300);}else if(7==o.status){$('<p>您关注的用户已经达到 <strong>2000</strong> 的人数上限</p>').modal({'title':'关注用户数达到上限'});}},'json');return false;});$('.post-action .block').click(function(){var cancel=$(this).data('cancel');$('<p>您确认要'+(!cancel?'锁定':'解除锁定')
+'用户「<strong>'+$(this).data('uname')+'</strong>」吗?</p>').modal({'title':!cancel?'锁定确认':'解锁确认','action':!cancel?'锁定':'解除锁定','data':$(this).data('uid'),'onAction':function(c,data){$.post('http://segmentfault.com/api/user',{'do':'block','cancel':cancel,'id':data},function(o){if(!o.status){window.location.reload();}},'json');}});return false;});$('.post-action .delete').click(function(){$('<p>您确认要删除用户「<strong>'+$(this).data('uname')+'</strong>」吗?</p>').modal({'title':'删除确认','action':'删除','data':$(this).data('uid'),'onAction':function(c,data){$.post('http://segmentfault.com/api/user',{'do':'delete','id':data},function(o){if(!o.status){window.location.href='http://segmentfault.com/';}},'json');}});return false;});});</script>
</body>
</html>