<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta name="apple-itunes-app" content="app-id=593777236" />
<meta property="qc:admins" content="15317273575564615446375" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>依云 - SegmentFault</title>
<meta name="description" content="专业面向开发者的中文技术问答社区" /> 
<meta name="keywords" content="SegmentFault SF 开发者 程序员 中文 问答 社区" />

<link rel="stylesheet" href="http://s.segmentfault.com/css/normalize.css?13.10.21.1" />
<link rel="stylesheet" href="http://s.segmentfault.com/css/style.css?13.10.21.1" />
<link rel="stylesheet" href="http://s.segmentfault.com/css/responsive.css?13.10.21.1" />

<script src="http://s.segmentfault.com/js/jquery.js?13.10.21.1"></script>
<script src="http://s.segmentfault.com/js/lib.js?13.10.21.1"></script>

<!--[if gt IE 8]>
    <link rel="stylesheet" href="http://s.segmentfault.com/css/ie.css?13.10.21.1" />
<![endif]-->
<!--[if lte IE 8]>
    <script src="http://s.segmentfault.com/js/html5.js?13.10.21.1"></script>
    <link rel="stylesheet" href="http://s.segmentfault.com/css/old-ie.css?13.10.21.1" />
<![endif]-->

<link href="http://s.segmentfault.com/img/icon/favicon.ico?13.10.21.1" rel="shortcut icon" type="image/x-icon" />
<link rel="search" type="application/opensearchdescription+xml" href="../opensearch.xml" title="SegmentFault" />

<link rel="apple-touch-icon-precomposed" href="http://s.segmentfault.com/img/icon/sf-57.png?13.10.21.1" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://s.segmentfault.com/img/icon/sf-72.png?13.10.21.1" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://s.segmentfault.com/img/icon/sf-114.png?13.10.21.1" />

<link rel="alternate" type="application/atom+xml" title="订阅 依云 - SegmentFault" href="../feeds">


</head>
<body id="body">


<!--[if lte IE 8]>
    <div class="error chromeframe">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->



<nav class="global-nav clearfix">
    <a href="lilydjwg.html#%23%23" id="site-nav-btn">导航</a>
    <ul class="site-nav mobi-hide">
        <li><a href="../index.html">问答</a></li>
        <li><a href="../blog.html">博客</a></li>
        <!-- <li><a href="http://segmentfault.com/news">新闻</a></li> -->
        <li><a href="../tags.html">标签</a></li>
        <li><a href="../users.html">用户</a></li>
        <li><a href="../badges.html">徽章</a></li>
        <li><a href="../events.html">活动</a></li>
            </ul>
    <ul class="user-nav">
                <li>
            <a id="login-link" href="http://segmentfault.com/user/login">登录</a>
        </li>
        <li>
            <a href="http://segmentfault.com/user/register">注册</a>
        </li>
            </ul>
</nav><!-- end .global-nav -->
<header class="site-header">
    <div class="inner clearfix">
        <div class="head-name">
            <a href="../users.html">
                <img alt="SegmentFault" src="http://s.segmentfault.com/img/logo.png?13.10.21.1" />
                <strong>用户</strong>
            </a>
        </div>
        <div class="head-search">
            <form id="search" action="http://segmentfault.com/search">
                <input type="text" class="text-27 input-search" name="q" autocomplete="off" spellcheck="false" placeholder="搜索问题，标签，用户">
                <button class="btn-search" type="submit">搜索</button>
                <input type="hidden" name="tab" value="user" />
            </form>
        </div>
        <ul class="head-nav">
            <li><a href="../users.html">用户排行</a></li>
                    </ul>
    </div>
</header><!-- end .site-header -->
<div class="wrap">

<div class="inner edge">
    <div class="d-action right">
        <div class="d-follow">
                        <a href="lilydjwg.html#" data-uid="1030000000092244" class="btn-l follow">加关注</a>
                    </div>
    </div>
    <h1 class="top-title">依云 <small class="profile-username">@lilydjwg</small></h1>
    <div id="user-profile" class="clearfix">
        <div class="user-profile-avatar">
            <a href="lilydjwg.html"><img class="avatar-128" src="http://sfault-avatar.b0.upaiyun.com/369/214/3692146787_huge128" alt="依云" /></a>
        </div>
        <ul class="user-profile-info">
                                            
                                <li class="profile-locate">现居<a rel="nofollow" href="https://maps.google.com/?q=%E6%B1%9F%E8%8B%8F%E5%8D%97%E4%BA%AC" target="_blank">江苏南京</a></li>
                
                
                                <li class="profile-url"><a rel="nofollow" href="http://lilydjwg.is-programmer.com/" target="_blank">lilydjwg.is-programmer.com</a></li>
                
                        </ul>
        <ul class="user-profile-status">
            <li><strong class="r-color">3878</strong> 声望值</li>
            <li><strong class="r-color">17</strong> 枚徽章</li>
            <li><strong class="up-color">245</strong> 次被赞</li>
            <li><strong class="down-color">1</strong> 次被踩</li>
        </ul>
        <div class="user-profile-action">
            
            2011年07月19日加入
        </div>
    </div><!-- end #user-profile -->


        <div id="main">
            
            <section class="user-data">
                <h2 class="user-data-title"><a href="http://segmentfault.com/u/lilydjwg/tags">155</a> 个标签得分</h2>
                <ul class="user-tag-ranking tag-ranking-list show-pop-tag">
                                        <li>
                <a data-tid="1040000000089534" href="http://segmentfault.com/t/python" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/338/144/3381442710-i-1040000000089534_icon');">python</a>
                 &times; 649    </li>
        <li>
                <a data-tid="1040000000089392" href="http://segmentfault.com/t/linux" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/165/999/1659994484-i-1040000000089392_icon');">linux</a>
                 &times; 594    </li>
        <li>
                <a data-tid="1040000000089436" href="../t/javascript.html" class="tag">javascript</a>
                 &times; 579    </li>
        <li>
                <a data-tid="1040000000089457" href="http://segmentfault.com/t/c" class="tag">c</a>
                 &times; 452    </li>
        <li>
                <a data-tid="1040000000089387" href="http://segmentfault.com/t/php" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/389/392/3893927083-i-1040000000089387_icon');">php</a>
                 &times; 439    </li>
        <li>
                <a data-tid="1040000000089733" href="../t/jquery.html" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/417/305/4173050739-i-1040000000089733_icon');">jquery</a>
                 &times; 266    </li>
        <li>
                <a data-tid="1040000000117807" href="../t/web前端开发.html" class="tag">web前端开发</a>
                 &times; 135    </li>
        <li>
                <a data-tid="1040000000089496" href="http://segmentfault.com/t/%E6%9C%8D%E5%8A%A1%E5%99%A8" class="tag">服务器</a>
                 &times; 132    </li>
        <li>
                <a data-tid="1040000000089669" href="http://segmentfault.com/t/shell" class="tag">shell</a>
                 &times; 128    </li>
        <li>
                <a data-tid="1040000000089467" href="http://segmentfault.com/t/vim" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/668/701/668701366-i-1040000000089467_icon');">vim</a>
                 &times; 122    </li>
        <li>
                <a data-tid="1040000000089686" href="http://segmentfault.com/t/bash" class="tag">bash</a>
                 &times; 116    </li>
        <li>
                <a data-tid="1040000000090203" href="http://segmentfault.com/t/go" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/925/692/925692835-i-1040000000090203_icon');">go</a>
                 &times; 112    </li>
                                        </ul>
            </section>

            
            <section class="user-data">
                <h2 class="user-data-title"><a href="http://segmentfault.com/u/lilydjwg/answers">187</a> 个回答</h2>
                                                    <article class="profile-post" id="a-1020000000322873">
                        <div class="profile-post-vote">
                            <span>0</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000322857/a-1020000000322873" title="js 实现类似于按住ctrl键然后点击链接功能">js 实现类似于按住ctrl键然后点击链接功能</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000322857/a-1020000000322873">这个功能叫「在后台打开新标签页」，通常使用中键点击或者Ctrl/Cmd+鼠标左键来触发。此功能在百度贴吧+火狐中似乎不可用。在 Bootstrap 某个旧一点的版本中不可用。 这个功能（通过普通网页权限的脚本）你只能禁止它，而没办法主动触发。这和你没办法用脚本关掉用户主动（而非通过脚本）打开（即使是你的域上的）标签页...</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000322631">
                        <div class="profile-post-vote">
                            <span>0</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000322620/a-1020000000322631" title="怎么用xml传输html？">怎么用xml传输html？</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000322620/a-1020000000322631">{代码...}</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000322449">
                        <div class="profile-post-vote">
                            <span>0</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000322436/a-1020000000322449" title="信号量的原子操作是如何实现的？">信号量的原子操作是如何实现的？</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000322436/a-1020000000322449">信号量是建立在原子操作基础上的。 信号量实现的关键在于，如何原子地递增或者递减一个变量？ 对于单 CPU 系统，在 x86 平台有对指定内存递增和递减的指令。然而，对多 CPU 系统这样仍然不够。为此，在多数 CPU 平台，使用特定的 lock 前缀，使得在指令执行过程中锁住内存总线，这样其它 CPU 由于得不到总线仲裁的许可，...</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000322294">
                        <div class="profile-post-vote">
                            <span>0</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000322275/a-1020000000322294" title="ubuntu 桌面版 的 virtualbox   桥接 ubuntuServer  怎么 配置网络呢">ubuntu 桌面版 的 virtualbox   桥接 ubuntuServer  怎么 配置网络呢</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000322275/a-1020000000322294">vbox 网卡配置那里把网络连接类型设置为桥接即可。 PS: 端口转发只对 TCP 和 UDP 有用。ping 使用的 ICMP 协议连端口的概念都没有，当然不支持啦。</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000322288">
                        <div class="profile-post-vote resolved">
                            <span>0</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000322249/a-1020000000322288" title="linux 下export 命令有什么用">linux 下export 命令有什么用</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000322249/a-1020000000322288">首先，export 是 POSIX 兼容 shell 的语法的一部分，而和 Linux 没有必然的关系。它不是命令，而是一种修饰符（和 bash / zsh 中的 integer, local 之类的声明类似）。 其次，export 的意义。export var 表示，变量 var 作为环境变量，将会被该 shell 的子进程继承。默认情况下 POSIX 兼容 shell 里的变量都只是 shell ...</a>
                        </div>
                    </article>
                                    <article class="profile-post" id="a-1020000000322218">
                        <div class="profile-post-vote">
                            <span>0</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000322185/a-1020000000322218" title="如何方便的在linux上分发Redis">如何方便的在linux上分发Redis</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000322185/a-1020000000322218">如果不能让客户自己去安装的话，那么像很多商业软件一样，把 redis 连同它依赖的各种库打包起来扔给客户。一般需要用个 wrapper 脚本设置 LD_LIBRARY_PATH 之类的。你也可以静态链接一个 redis（这样只依赖于内核和 CPU）。 我刚刚看了下，redis 的库依赖很少。不过遇到 glibc 版本不满足要求的话还是比较头疼的。静态链...</a>
                        </div>
                    </article>
                                            </section>

            <section class="user-data">
                <h2 class="user-data-title"><a href="http://segmentfault.com/u/lilydjwg/questions">7</a> 个提问</h2>
                                                    <article class="profile-post" id="q-1010000000322777">
                        <div class="profile-post-vote">
                            <span>21</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="../q/1010000000322777.html" title="TP-LINK TL-WR2041N 路由器能不乱修改 TTL 值吗？">TP-LINK TL-WR2041N 路由器能不乱修改 TTL 值吗？</a></h2>
                            <div class="profile-post-excerpt">0 回答 <span>&bull;</span> 0 赞 <span>&bull;</span> 6小时前</div>
                        </div>
                    </article>
                                    <article class="profile-post" id="q-1010000000316370">
                        <div class="profile-post-vote">
                            <span>76</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000316370" title="希望在首页支持鼠标 hover 事件的同时也支持 focus 事件">希望在首页支持鼠标 hover 事件的同时也支持 focus 事件</a></h2>
                            <div class="profile-post-excerpt">0 回答 <span>&bull;</span> 1 赞 <span>&bull;</span> 10月7日</div>
                        </div>
                    </article>
                                    <article class="profile-post" id="q-1010000000313684">
                        <div class="profile-post-vote">
                            <span>75</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000313684" title="用户排名：特性还是失误？">用户排名：特性还是失误？</a></h2>
                            <div class="profile-post-excerpt">1 回答 <span>&bull;</span> 0 赞 <span>&bull;</span> 10月9日</div>
                        </div>
                    </article>
                                    <article class="profile-post" id="q-1010000000267586">
                        <div class="profile-post-vote resolved">
                            <span>215</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000267586" title="Google Chrome 代理白名单？">Google Chrome 代理白名单？</a></h2>
                            <div class="profile-post-excerpt">1 回答 <span>&bull;</span> 0 赞 <span>&bull;</span> 8月22日</div>
                        </div>
                    </article>
                                    <article class="profile-post" id="q-1010000000264361">
                        <div class="profile-post-vote resolved">
                            <span>165</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000264361" title="本站的收藏功能坏掉了？">本站的收藏功能坏掉了？</a></h2>
                            <div class="profile-post-excerpt">1 回答 <span>&bull;</span> 0 赞 <span>&bull;</span> 8月14日</div>
                        </div>
                    </article>
                                    <article class="profile-post" id="q-1010000000239787">
                        <div class="profile-post-vote">
                            <span>356</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000239787" title="segmentfault 提交内容及其显示的一些问题">segmentfault 提交内容及其显示的一些问题</a></h2>
                            <div class="profile-post-excerpt">0 回答 <span>&bull;</span> 0 赞 <span>&bull;</span> 6月20日</div>
                        </div>
                    </article>
                                            </section>

        </div><!-- end #profile-main -->

            <div id="secondary">
                <aside class="box">
            <a href="http://segmentfault.com/u/lilydjwg/awards" class="i-more tip-pop right" data-tip="s:更多">更多</a>
            <h3>获得 <a href="http://segmentfault.com/u/lilydjwg/awards">17</a> 枚徽章</h3>
                        <a class="tip-pop" href="http://segmentfault.com/b/good-student/1030000000092244" title="好学生" data-tip="n:好学生" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/169/965/1699659778-1120000000161467_small" alt="好学生" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/big-fans/1030000000092244" title="百日斩" data-tip="n:百日斩" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/259/135/2591354136-1120000000162053_small" alt="百日斩" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/small-potato/1030000000092244" title="小人物" data-tip="n:小人物 <cite>&bull;</cite> <strong>2</strong>" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/191/479/1914790735-1120000000163240_small" alt="小人物" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/fans/1030000000092244" title="痴迷者" data-tip="n:痴迷者 <cite>&bull;</cite> <strong>5</strong>" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/362/322/3623220477-1120000000162052_small" alt="痴迷者" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/scholar/1030000000092244" title="学者" data-tip="n:学者" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/317/009/3170092226-1120000000161463_small" alt="学者" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/startup/1030000000092244" title="初出茅庐" data-tip="n:初出茅庐" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/193/643/1936432330-1120000000161451_small" alt="初出茅庐" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/newbie/1030000000092244" title="新手上路" data-tip="n:新手上路" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/367/638/3676386957-1120000000162041_small" alt="新手上路" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/opposition/1030000000092244" title="反对派" data-tip="n:反对派" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/393/193/3931939152-1120000000161450_small" alt="反对派" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/first-edit/1030000000092244" title="第一次编辑操作" data-tip="n:第一次编辑操作" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/143/508/1435085460-1120000000192404_small" alt="第一次编辑操作" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/commentator/1030000000092244" title="评论员" data-tip="n:评论员" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/104/576/1045761113-1120000000163242_small" alt="评论员" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/supporter/1030000000092244" title="支持者" data-tip="n:支持者" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/107/793/1077935355-1120000000161408_small" alt="支持者" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/first-answer/1030000000092244" title="小试牛刀" data-tip="n:小试牛刀" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/561/900/56190011-1120000000163227_small" alt="小试牛刀" class="badge-s"/></a>
                    </aside>
        
                <aside class="box">
            <a href="http://segmentfault.com/u/lilydjwg/followers" class="i-more tip-pop right" data-tip="s:更多">更多</a>
            <h3><a href="http://segmentfault.com/u/lilydjwg/followers">85</a> 位关注者</h3>
                        <a class="tip-pop" href="http://segmentfault.com/u/heroic" title="Heroic Yang" data-tip="n:Heroic Yang"><img class="avatar-24" src="http://sfault-avatar.b0.upaiyun.com/384/608/3846082207-1030000000116714_tiny24" alt="Heroic Yang" /></a>
                        <a class="tip-pop" href="http://segmentfault.com/u/grandsong" title="GrandSong" data-tip="n:GrandSong"><img class="avatar-24" src="http://s.segmentfault.com/img/user-24.png?13.10.21.1" alt="GrandSong" /></a>
                        <a class="tip-pop" href="http://segmentfault.com/u/robberphex" title="RobberPhex" data-tip="n:RobberPhex"><img class="avatar-24" src="http://sfault-avatar.b0.upaiyun.com/303/811/3038117306-1030000000268413_tiny24" alt="RobberPhex" /></a>
                        <a class="tip-pop" href="http://segmentfault.com/u/techlive_zheng" title="Techlive Zheng" data-tip="n:Techlive Zheng"><img class="avatar-24" src="http://sfault-avatar.b0.upaiyun.com/317/938/3179383557-1030000000132524_tiny24" alt="Techlive Zheng" /></a>
                        <a class="tip-pop" href="http://segmentfault.com/u/thinkshan" title="thinkshan" data-tip="n:thinkshan"><img class="avatar-24" src="http://s.segmentfault.com/img/user-24.png?13.10.21.1" alt="thinkshan" /></a>
                        <a class="tip-pop" href="http://segmentfault.com/u/laiquzirudefeng2011" title="来去自如的风2011" data-tip="n:来去自如的风2011"><img class="avatar-24" src="http://sfault-avatar.b0.upaiyun.com/242/708/2427084926-1030000000321288_tiny24" alt="来去自如的风2011" /></a>
                        <a class="tip-pop" href="http://segmentfault.com/u/heliy" title="heliy" data-tip="n:heliy"><img class="avatar-24" src="http://s.segmentfault.com/img/user-24.png?13.10.21.1" alt="heliy" /></a>
                    </aside>
        
                <aside class="box">
            <h3>得分最高的标签</h3>
            <ul class="tag-ranking-list show-pop-tag">
                    <li>
                <a data-tid="1040000000089534" href="http://segmentfault.com/t/python" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/338/144/3381442710-i-1040000000089534_icon');">python</a>
                    </li>
        <li>
                <a data-tid="1040000000089392" href="http://segmentfault.com/t/linux" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/165/999/1659994484-i-1040000000089392_icon');">linux</a>
                    </li>
        <li>
                <a data-tid="1040000000089436" href="../t/javascript.html" class="tag">javascript</a>
                    </li>
        <li>
                <a data-tid="1040000000089457" href="http://segmentfault.com/t/c" class="tag">c</a>
                    </li>
        <li>
                <a data-tid="1040000000089387" href="http://segmentfault.com/t/php" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/389/392/3893927083-i-1040000000089387_icon');">php</a>
                    </li>
        <li>
                <a data-tid="1040000000089733" href="../t/jquery.html" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/417/305/4173050739-i-1040000000089733_icon');">jquery</a>
                    </li>
        <li>
                <a data-tid="1040000000117807" href="../t/web前端开发.html" class="tag">web前端开发</a>
                    </li>
        <li>
                <a data-tid="1040000000089496" href="http://segmentfault.com/t/%E6%9C%8D%E5%8A%A1%E5%99%A8" class="tag">服务器</a>
                    </li>
        <li>
                <a data-tid="1040000000089669" href="http://segmentfault.com/t/shell" class="tag">shell</a>
                    </li>
        <li>
                <a data-tid="1040000000089467" href="http://segmentfault.com/t/vim" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/668/701/668701366-i-1040000000089467_icon');">vim</a>
                    </li>
                    </ul>
        </aside>
                        <aside class="box">
            <h3>本月进步最快的标签</h3>
            <ul class="tag-ranking-list show-pop-tag">
                    <li>
                <a data-tid="1040000000089387" href="http://segmentfault.com/t/php" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/389/392/3893927083-i-1040000000089387_icon');">php</a>
                    </li>
        <li>
                <a data-tid="1040000000089733" href="../t/jquery.html" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/417/305/4173050739-i-1040000000089733_icon');">jquery</a>
                    </li>
        <li>
                <a data-tid="1040000000089534" href="http://segmentfault.com/t/python" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/338/144/3381442710-i-1040000000089534_icon');">python</a>
                    </li>
        <li>
                <a data-tid="1040000000089457" href="http://segmentfault.com/t/c" class="tag">c</a>
                    </li>
        <li>
                <a data-tid="1040000000089392" href="http://segmentfault.com/t/linux" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/165/999/1659994484-i-1040000000089392_icon');">linux</a>
                    </li>
        <li>
                <a data-tid="1040000000090203" href="http://segmentfault.com/t/go" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/925/692/925692835-i-1040000000090203_icon');">go</a>
                    </li>
        <li>
                <a data-tid="1040000000089436" href="../t/javascript.html" class="tag">javascript</a>
                    </li>
        <li>
                <a data-tid="1040000000089564" href="../t/django.html" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/106/562/1065623784-i-1040000000089564_icon');">django</a>
                    </li>
        <li>
                <a data-tid="1040000000125263" href="http://segmentfault.com/t/flask" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/989/447/989447373-i-1040000000125263_icon');">flask</a>
                    </li>
        <li>
                <a data-tid="1040000000116331" href="http://segmentfault.com/t/tornado" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/249/541/2495414618-i-1040000000116331_icon');">tornado</a>
                    </li>
                    </ul>
        </aside>
        
        <aside class="box">
            <a href="http://segmentfault.com/u/lilydjwg/rank" class="i-more tip-pop right" data-tip="s:更多"    >更多</a>
            <h3>声望记录</h3>
            <div class="chart-wrapper">
                                <div class="cplus">
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月2日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月3日</i></span>
                                        <span class="col" style="height: 60px"><i>+72 声望<br>10月4日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月5日</i></span>
                                        <span class="col" style="height: 25.83px"><i>+31 声望<br>10月6日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月7日</i></span>
                                        <span class="col" style="height: 38.33px"><i>+46 声望<br>10月8日</i></span>
                                        <span class="col" style="height: 38.33px"><i>+46 声望<br>10月9日</i></span>
                                        <span class="col" style="height: 55.83px"><i>+67 声望<br>10月10日</i></span>
                                        <span class="col" style="height: 0.83px"><i>+1 声望<br>10月11日</i></span>
                                        <span class="col" style="height: 26.67px"><i>+32 声望<br>10月12日</i></span>
                                        <span class="col" style="height: 16.67px"><i>+20 声望<br>10月13日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月14日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月15日</i></span>
                                        <span class="col" style="height: 54.17px"><i>+65 声望<br>10月16日</i></span>
                                        <span class="col" style="height: 95.83px"><i>+115 声望<br>10月17日</i></span>
                                        <span class="col" style="height: 58.33px"><i>+70 声望<br>10月18日</i></span>
                                        <span class="col" style="height: 30px"><i>+36 声望<br>10月19日</i></span>
                                        <span class="col" style="height: 3.33px"><i>+4 声望<br>10月20日</i></span>
                                        <span class="col" style="height: 19.17px"><i>+23 声望<br>10月21日</i></span>
                                    </div>
                <div class="cminus">
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月2日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月3日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月4日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月5日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月6日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月7日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月8日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月9日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月10日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月11日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月12日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月13日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月14日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月15日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月16日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月17日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月18日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月19日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月20日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月21日</i></span>
                                    </div>
            </div>
        </aside>

        <aside class="box post-action">
                                            </aside>
    </div><!-- end #secondary -->




    </div><!-- end .inner .edge -->
</div><!-- end .wrap -->


<footer id="footer">
    <div class="inner mobi-hide">
        <dl class="site-link">
            <dt>网站相关</dt>
            <dd><a href="http://segmentfault.com/about">关于我们</a></dd>
            <dd><a href="http://segmentfault.com/license">服务条款</a></dd>
            <dd><a href="http://segmentfault.com/faq">帮助中心</a></dd>
            <dd><a href="http://segmentfault.com/q/1010000000187808">编辑器语法</a></dd>
            <dd><a href="http://0x.segmentfault.com">建议反馈</a></dd>
        </dl>
        <dl class="site-link">
            <dt>联系合作</dt>
            <dd><a href="http://segmentfault.com/link">合作伙伴</a></dd>
            <dd><a href="http://segmentfault.com/advertise">广告投放</a></dd>
            <dd><a href="http://segmentfault.com/press">媒体报道</a></dd>
        </dl>
        <dl class="site-link">
            <dt>常用链接</dt>
            <dd><a href="http://blog.segmentfault.com" target="_blank">开发日志</a></dd>
            <dd><a href="http://segmentfault.com/mobileapp">移动应用</a></dd>
            <dd><a href="http://segmentfault.com/events?category=3">黑客马拉松</a></dd>
            <dd><a href="http://yumiwan.com" target="_blank">玉米湾域名</a></dd>
        </dl>
        <dl class="site-link">
            <dt>关注我们</dt>
            <dd><a href="../feeds">RSS 订阅</a></dd>
            <dd><a href="http://weibo.com/segmentfault" target="_blank">新浪微博</a></dd>
            <dd><a href="http://twitter.com/segment_fault" target="_blank">Twitter</a></dd>
            <dd><a href="http://t.qq.com/segmentfault" target="_blank">腾讯微博</a></dd>
            <dd><a href="http://page.renren.com/699146294" target="_blank">人人网</a></dd>
        </dl>
        <dl class="site-link" id="license">
            <dt>内容许可</dt>
            <dd>除特别说明外，用户内容均采用 <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0 中国大陆许可协议</a> 进行许可</dd>
            <dd>本站由 <a target="_blank" href="http://elinkhost.com/">Elinkhost</a> 提供 IDC 服务<br><a target="_blank" href="https://www.upyun.com/?utm_source=segmentfault&utm_medium=link&utm_campaign=upyun&md=segmentfault">又拍云</a> 提供 CDN 存储服务</dd>
        </dl>
    </div>
    <div class="inner copyright">
        Copyright &copy; 2011-2013 SegmentFault. 当前呈现版本 13.10.21        <br>京ICP备12004937号, 京公网安备110108008332号
    </div>
</footer>

<div class="login-notify mobi-hide hidden">
    <a href="lilydjwg.html#" class="right i-cancel">关闭</a>
    <span>欢迎来到最专业的中文开发者社区：</span>
    <a class="auth-small" href="http://segmentfault.com/user/login"><img src="http://s.segmentfault.com/img/icon/auth-sf.png?13.10.21.1" alt="SegmentFault"/>立即登录</a>
                <a class="auth-small" href="https://segmentfault.com/user/oauth/google"><img src="http://s.segmentfault.com/img/icon/auth-google-big.png?13.10.21.1" alt="Google" />Google</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/github"><img src="http://s.segmentfault.com/img/icon/auth-github-big.png?13.10.21.1" alt="GitHub" />GitHub</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/weibo"><img src="http://s.segmentfault.com/img/icon/auth-weibo-big.png?13.10.21.1" alt="新浪微博" />新浪微博</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/qq"><img src="http://s.segmentfault.com/img/icon/auth-qq-big.png?13.10.21.1" alt="腾讯QQ" />腾讯QQ</a>
    </div>

<a id="backtop" class="mobi-hide hidden" href="lilydjwg.html#body">回顶部</a>

<script>$(document).ready(function(){$('#session').login();$('input[holder],textarea[holder]').placeholder();$('input.input-error,textarea.input-error').keyup(function(){$('.text-error',$(this).removeClass('input-error').parent()).remove();});$('.has-dropdown').hover(function(){var $item=$('.dropdown-item',this);$item.toggleClass('hid');});$('#site-nav-btn').click(function(){$('.site-nav').toggleClass('mobi-hide');return false;});$('html').click(function(){$('.site-nav').addClass('mobi-hide');});$(document).scroll(function(){if($(this).scrollTop()>720){$('#backtop').removeClass('hidden');}else{$('#backtop').addClass('hidden');}});$('#backtop').click(function(){$('body,html').animate({scrollTop:0});return false;})
$('#msg-link').eventPopup({url:'http://x.segmentfault.com/event'});$('.meta-tags a, .tag').tagPopup('http://segmentfault.com/api/tag','#main');$('#search .input-search').searchAutoComplete({url:'http://x.segmentfault.com/autocomplete',insertAfter:'#search',searchUrl:'http://segmentfault.com/search',askUrl:'http://segmentfault.com/ask',ask:'#top-nav a.btn-m'});$('a.msg-close',$('#msg-bar').fadeIn().sticky()).click(function(){$(this).parent().fadeOut(function(){$(this).parent().remove();});return false;});var topNav=$('.head-nav'),search=$('#search .input-search').css({'position':'relavtive','z-index':10}),searchWidth=search.outerWidth();search.focus(function(){search.animate({width:searchWidth*1.5},'fast');topNav.hide();}).blur(function(){if(0==search.val().length){search.animate({width:searchWidth},'fast',function(){topNav.show();});}});$('.tip-pop').each(function(){var t=$(this),str=t.data('tip');if(!!!str){return;}
t.removeAttr('title');var parts=str.split(':');$(this).tipsy({'html':true,'gravity':parts.shift(),'fallback':parts.join(':')});});if($('#profile-tab,.greeting').length>0){$.get('http://x.segmentfault.com/news',function(o){if(!o.status&&o.data){var cv=$.cookie('sfns_viewed'),viewed=(!!cv?cv+',':'');if(viewed.indexOf(o.data[0])<0){var a=$('<a href="'+o.data[1]+'" target="_blank" class="update-log rounded-2">'
+'<strong>'+o.data[3]+'更新</strong> '+o.data[2]+'</a>').prependTo('#secondary').animate({backgroundColor:'#ffebb7'},'slow',function(){$(this).animate({backgroundColor:'#FFF7E2'},'slow');}).click(function(){$.cookie('sfns_viewed',viewed+o.data[0],{path:'/',expires:30});$(this).remove();});}}},'jsonp');}
if(login){$('#main, .layout-main').highlightTag({url:'http://x.segmentfault.com/tag/following',selector:'#content article .meta-tags li a, #user-question article .meta-tags li a,'
+' .article-item .tags li a',className:'q-highlight'});}else if(0==$('.auth-login,.session-form,.session-finished').length){if(1!=$.cookie('sfln_viewed')){$.cookie('sfln_viewed',1,{path:'/'});$.cookie('sfln_available',1,{path:'/'});}else if(1==$.cookie('sfln_available')){$('.i-cancel',$('.login-notify').css('bottom',-60).removeClass('hidden').animate({'bottom':0})).click(function(){$.cookie('sfln_available',0,{path:'/'});$(this).parents('.login-notify').animate({'bottom':-60},function(){$(this).remove();});return false;});}}
var tagInterestShow=false;$('.tag-interest-click').click(function(){if(!tagInterestShow){$('.tag-interest-list').fadeIn();tagInterestShow=true;}else{$('.tag-interest-list').fadeOut();tagInterestShow=false;}
return false;});});(function(){var hm=document.createElement('script');hm.type='text/javascript';hm.async=true;hm.src='//hm.baidu.com/hm.js?e23800c454aa573c0ccb16b52665ac26';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(hm,s);})();var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-918487-8']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>
<script>$(document).ready(function(){var usersMore=$('.folist .load-more a'),usersPage=2;if(usersMore.length>0){usersMore.click(function(){$.getJSON('http://segmentfault.com/api/user',{'do':'listFollowers','page':usersPage,'id':$(this).data('uid')},function(o){if(!o.status){if(o.data.length>0){for(var i=0;i<o.data.length;i++){var u=o.data[i],html='<article id="u-'+u.id+'" class="post">';html+='<a class="stream-img" href="'+u.url+'">'+'<img class="avatar-40" src="'+u.avatarUrl+'" alt="'
+u.name+'" /></a><div class="p-summary">'
+'<h2><a href="'+u.url+'" title="'+u.name+'">'+u.name+'</a></h2>';if(u.excerpt){html+='<div class="p-excerpt"><p>'+u.excerpt+'</p></div>';}
html+='<div class="meta">'+u.rankWord
+' 声望 &bull; '+u.awards+' 徽章</div></div></article>';var li=$(html).insertBefore(usersMore.parent());}}
if(o.data.length<15){usersMore.parent().remove();}
usersPage++;}});return false;});}
$('.d-action a.btn-l').click(function(){var url='http://segmentfault.com/api/user',t=$(this);$.post(url,{'do':'follow','id':t.data('uid'),'cancel':t.hasClass('unfollow')?1:0},function(o){if(!o.status){if(t.hasClass('unfollow')){t.removeClass('unfollow').addClass('follow').html('加关注');}else{t.removeClass('follow').addClass('unfollow').html('取消关注');}
var count=$('#user-detail .hor-count li.followers strong'),num=count.html(),p=count.parent();p.css('position','relative');count.html(o.data.followedUsers).css('opacity',0.1);$('<strong>'+num+'</strong>').css({'position':'absolute','left':'21px','top':0,'height':count.height(),'z-index':1}).appendTo(p).fadeOut(300);count.animate({opacity:1},300);}else if(7==o.status){$('<p>您关注的用户已经达到 <strong>2000</strong> 的人数上限</p>').modal({'title':'关注用户数达到上限'});}},'json');return false;});$('.post-action .block').click(function(){var cancel=$(this).data('cancel');$('<p>您确认要'+(!cancel?'锁定':'解除锁定')
+'用户「<strong>'+$(this).data('uname')+'</strong>」吗?</p>').modal({'title':!cancel?'锁定确认':'解锁确认','action':!cancel?'锁定':'解除锁定','data':$(this).data('uid'),'onAction':function(c,data){$.post('http://segmentfault.com/api/user',{'do':'block','cancel':cancel,'id':data},function(o){if(!o.status){window.location.reload();}},'json');}});return false;});$('.post-action .delete').click(function(){$('<p>您确认要删除用户「<strong>'+$(this).data('uname')+'</strong>」吗?</p>').modal({'title':'删除确认','action':'删除','data':$(this).data('uid'),'onAction':function(c,data){$.post('http://segmentfault.com/api/user',{'do':'delete','id':data},function(o){if(!o.status){window.location.href='http://segmentfault.com/';}},'json');}});return false;});});</script>
</body>
</html>