<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta name="apple-itunes-app" content="app-id=593777236" />
<meta property="qc:admins" content="15317273575564615446375" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>朱其鹏 - SegmentFault</title>
<meta name="description" content="专业面向开发者的中文技术问答社区" /> 
<meta name="keywords" content="SegmentFault SF 开发者 程序员 中文 问答 社区" />

<link rel="stylesheet" href="http://s.segmentfault.com/css/normalize.css?13.10.21.1" />
<link rel="stylesheet" href="http://s.segmentfault.com/css/style.css?13.10.21.1" />
<link rel="stylesheet" href="http://s.segmentfault.com/css/responsive.css?13.10.21.1" />

<script src="http://s.segmentfault.com/js/jquery.js?13.10.21.1"></script>
<script src="http://s.segmentfault.com/js/lib.js?13.10.21.1"></script>

<!--[if gt IE 8]>
    <link rel="stylesheet" href="http://s.segmentfault.com/css/ie.css?13.10.21.1" />
<![endif]-->
<!--[if lte IE 8]>
    <script src="http://s.segmentfault.com/js/html5.js?13.10.21.1"></script>
    <link rel="stylesheet" href="http://s.segmentfault.com/css/old-ie.css?13.10.21.1" />
<![endif]-->

<link href="http://s.segmentfault.com/img/icon/favicon.ico?13.10.21.1" rel="shortcut icon" type="image/x-icon" />
<link rel="search" type="application/opensearchdescription+xml" href="../opensearch.xml" title="SegmentFault" />

<link rel="apple-touch-icon-precomposed" href="http://s.segmentfault.com/img/icon/sf-57.png?13.10.21.1" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://s.segmentfault.com/img/icon/sf-72.png?13.10.21.1" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://s.segmentfault.com/img/icon/sf-114.png?13.10.21.1" />

<link rel="alternate" type="application/atom+xml" title="订阅 朱其鹏 - SegmentFault" href="../feeds">


</head>
<body id="body">


<!--[if lte IE 8]>
    <div class="error chromeframe">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->



<nav class="global-nav clearfix">
    <a href="zhuqipeng.html#%23%23" id="site-nav-btn">导航</a>
    <ul class="site-nav mobi-hide">
        <li><a href="../index.html">问答</a></li>
        <li><a href="../blog.html">博客</a></li>
        <!-- <li><a href="http://segmentfault.com/news">新闻</a></li> -->
        <li><a href="../tags.html">标签</a></li>
        <li><a href="../users.html">用户</a></li>
        <li><a href="../badges.html">徽章</a></li>
        <li><a href="../events.html">活动</a></li>
            </ul>
    <ul class="user-nav">
                <li>
            <a id="login-link" href="http://segmentfault.com/user/login">登录</a>
        </li>
        <li>
            <a href="http://segmentfault.com/user/register">注册</a>
        </li>
            </ul>
</nav><!-- end .global-nav -->
<header class="site-header">
    <div class="inner clearfix">
        <div class="head-name">
            <a href="../users.html">
                <img alt="SegmentFault" src="http://s.segmentfault.com/img/logo.png?13.10.21.1" />
                <strong>用户</strong>
            </a>
        </div>
        <div class="head-search">
            <form id="search" action="http://segmentfault.com/search">
                <input type="text" class="text-27 input-search" name="q" autocomplete="off" spellcheck="false" placeholder="搜索问题，标签，用户">
                <button class="btn-search" type="submit">搜索</button>
                <input type="hidden" name="tab" value="user" />
            </form>
        </div>
        <ul class="head-nav">
            <li><a href="../users.html">用户排行</a></li>
                    </ul>
    </div>
</header><!-- end .site-header -->
<div class="wrap">

<div class="inner edge">
    <div class="d-action right">
        <div class="d-follow">
                        <a href="zhuqipeng.html#" data-uid="1030000000314560" class="btn-l follow">加关注</a>
                    </div>
    </div>
    <h1 class="top-title">朱其鹏 <small class="profile-username">@zhuqipeng</small></h1>
    <div id="user-profile" class="clearfix">
        <div class="user-profile-avatar">
            <a href="zhuqipeng.html"><img class="avatar-128" src="http://sfault-avatar.b0.upaiyun.com/461/599/461599929-1030000000314560_huge128" alt="朱其鹏" /></a>
        </div>
        <ul class="user-profile-info">
                                            
                                <li class="profile-locate">现居<a rel="nofollow" href="https://maps.google.com/?q=%E5%8C%97%E4%BA%AC" target="_blank">北京</a></li>
                
                
                
                        </ul>
        <ul class="user-profile-status">
            <li><strong class="r-color">5</strong> 声望值</li>
            <li><strong class="r-color">2</strong> 枚徽章</li>
            <li><strong class="up-color">0</strong> 次被赞</li>
            <li><strong class="down-color">0</strong> 次被踩</li>
        </ul>
        <div class="user-profile-action">
            
            9月30日加入
        </div>
    </div><!-- end #user-profile -->


        <div id="main">
            
            <section class="user-data">
                <h2 class="user-data-title"><a href="http://segmentfault.com/u/zhuqipeng/tags">2</a> 个标签得分</h2>
                <ul class="user-tag-ranking tag-ranking-list show-pop-tag">
                                        <li>
                <a data-tid="1040000000125263" href="http://segmentfault.com/t/flask" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/989/447/989447373-i-1040000000125263_icon');">flask</a>
                 &times; 2    </li>
        <li>
                <a data-tid="1040000000089534" href="http://segmentfault.com/t/python" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/338/144/3381442710-i-1040000000089534_icon');">python</a>
                 &times; 2    </li>
                                        </ul>
            </section>

            
            <section class="user-data">
                <h2 class="user-data-title"><a href="http://segmentfault.com/u/zhuqipeng/answers">1</a> 个回答</h2>
                                                    <article class="profile-post" id="a-1020000000314607">
                        <div class="profile-post-vote resolved">
                            <span>0</span>赞同
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000314568/a-1020000000314607" title="Flask 如何设置cookie?">Flask 如何设置cookie?</a></h2>
                            <a class="profile-post-excerpt" href="http://segmentfault.com/q/1010000000314568/a-1020000000314607">问题已经解决了</a>
                        </div>
                    </article>
                                            </section>

            <section class="user-data">
                <h2 class="user-data-title"><a href="http://segmentfault.com/u/zhuqipeng/questions">2</a> 个提问</h2>
                                                    <article class="profile-post" id="q-1010000000322857">
                        <div class="profile-post-vote">
                            <span>35</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="../q/1010000000322857.html" title="js 实现类似于按住ctrl键然后点击链接功能">js 实现类似于按住ctrl键然后点击链接功能</a></h2>
                            <div class="profile-post-excerpt">2 回答 <span>&bull;</span> 0 赞 <span>&bull;</span> 1小时前</div>
                        </div>
                    </article>
                                    <article class="profile-post" id="q-1010000000314568">
                        <div class="profile-post-vote resolved">
                            <span>95</span>浏览
                        </div>
                        <div class="profile-post-content">
                            <h2><a href="http://segmentfault.com/q/1010000000314568" title="Flask 如何设置cookie?">Flask 如何设置cookie?</a></h2>
                            <div class="profile-post-excerpt">1 回答 <span>&bull;</span> 0 赞 <span>&bull;</span> 9月30日</div>
                        </div>
                    </article>
                                            </section>

        </div><!-- end #profile-main -->

            <div id="secondary">
                <aside class="box">
            <a href="http://segmentfault.com/u/zhuqipeng/awards" class="i-more tip-pop right" data-tip="s:更多">更多</a>
            <h3>获得 <a href="http://segmentfault.com/u/zhuqipeng/awards">2</a> 枚徽章</h3>
                        <a class="tip-pop" href="http://segmentfault.com/b/first-answer/1030000000314560" title="小试牛刀" data-tip="n:小试牛刀" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/561/900/56190011-1120000000163227_small" alt="小试牛刀" class="badge-s"/></a>
                        <a class="tip-pop" href="http://segmentfault.com/b/startup/1030000000314560" title="初出茅庐" data-tip="n:初出茅庐" class="tip-pop"><img src="http://sfault-avatar.b0.upaiyun.com/193/643/1936432330-1120000000161451_small" alt="初出茅庐" class="badge-s"/></a>
                    </aside>
        
        
                <aside class="box">
            <h3>得分最高的标签</h3>
            <ul class="tag-ranking-list show-pop-tag">
                    <li>
                <a data-tid="1040000000125263" href="http://segmentfault.com/t/flask" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/989/447/989447373-i-1040000000125263_icon');">flask</a>
                    </li>
        <li>
                <a data-tid="1040000000089534" href="http://segmentfault.com/t/python" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/338/144/3381442710-i-1040000000089534_icon');">python</a>
                    </li>
                    </ul>
        </aside>
                        <aside class="box">
            <h3>本月进步最快的标签</h3>
            <ul class="tag-ranking-list show-pop-tag">
                    <li>
                <a data-tid="1040000000125263" href="http://segmentfault.com/t/flask" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/989/447/989447373-i-1040000000125263_icon');">flask</a>
                    </li>
        <li>
                <a data-tid="1040000000089534" href="http://segmentfault.com/t/python" class="tag tag-img" style="background-image: url('http://sfault-avatar.b0.upaiyun.com/338/144/3381442710-i-1040000000089534_icon');">python</a>
                    </li>
                    </ul>
        </aside>
        
        <aside class="box">
            <a href="http://segmentfault.com/u/zhuqipeng/rank" class="i-more tip-pop right" data-tip="s:更多"    >更多</a>
            <h3>声望记录</h3>
            <div class="chart-wrapper">
                                <div class="cplus">
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月2日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月3日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月4日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月5日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月6日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月7日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月8日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月9日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月10日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月11日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月12日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月13日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月14日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月15日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月16日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月17日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月18日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月19日</i></span>
                                        <span class="col" style="height: 0px"><i>+0 声望<br>10月20日</i></span>
                                        <span class="col" style="height: 30px"><i>+3 声望<br>10月21日</i></span>
                                    </div>
                <div class="cminus">
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月2日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月3日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月4日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月5日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月6日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月7日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月8日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月9日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月10日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月11日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月12日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月13日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月14日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月15日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月16日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月17日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月18日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月19日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月20日</i></span>
                                        <span class="col" style="height: 0px"><i>-0 声望<br>10月21日</i></span>
                                    </div>
            </div>
        </aside>

        <aside class="box post-action">
                                            </aside>
    </div><!-- end #secondary -->




    </div><!-- end .inner .edge -->
</div><!-- end .wrap -->


<footer id="footer">
    <div class="inner mobi-hide">
        <dl class="site-link">
            <dt>网站相关</dt>
            <dd><a href="http://segmentfault.com/about">关于我们</a></dd>
            <dd><a href="http://segmentfault.com/license">服务条款</a></dd>
            <dd><a href="http://segmentfault.com/faq">帮助中心</a></dd>
            <dd><a href="http://segmentfault.com/q/1010000000187808">编辑器语法</a></dd>
            <dd><a href="http://0x.segmentfault.com">建议反馈</a></dd>
        </dl>
        <dl class="site-link">
            <dt>联系合作</dt>
            <dd><a href="http://segmentfault.com/link">合作伙伴</a></dd>
            <dd><a href="http://segmentfault.com/advertise">广告投放</a></dd>
            <dd><a href="http://segmentfault.com/press">媒体报道</a></dd>
        </dl>
        <dl class="site-link">
            <dt>常用链接</dt>
            <dd><a href="http://blog.segmentfault.com" target="_blank">开发日志</a></dd>
            <dd><a href="http://segmentfault.com/mobileapp">移动应用</a></dd>
            <dd><a href="http://segmentfault.com/events?category=3">黑客马拉松</a></dd>
            <dd><a href="http://yumiwan.com" target="_blank">玉米湾域名</a></dd>
        </dl>
        <dl class="site-link">
            <dt>关注我们</dt>
            <dd><a href="../feeds">RSS 订阅</a></dd>
            <dd><a href="http://weibo.com/segmentfault" target="_blank">新浪微博</a></dd>
            <dd><a href="http://twitter.com/segment_fault" target="_blank">Twitter</a></dd>
            <dd><a href="http://t.qq.com/segmentfault" target="_blank">腾讯微博</a></dd>
            <dd><a href="http://page.renren.com/699146294" target="_blank">人人网</a></dd>
        </dl>
        <dl class="site-link" id="license">
            <dt>内容许可</dt>
            <dd>除特别说明外，用户内容均采用 <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0 中国大陆许可协议</a> 进行许可</dd>
            <dd>本站由 <a target="_blank" href="http://elinkhost.com/">Elinkhost</a> 提供 IDC 服务<br><a target="_blank" href="https://www.upyun.com/?utm_source=segmentfault&utm_medium=link&utm_campaign=upyun&md=segmentfault">又拍云</a> 提供 CDN 存储服务</dd>
        </dl>
    </div>
    <div class="inner copyright">
        Copyright &copy; 2011-2013 SegmentFault. 当前呈现版本 13.10.21        <br>京ICP备12004937号, 京公网安备110108008332号
    </div>
</footer>

<div class="login-notify mobi-hide hidden">
    <a href="zhuqipeng.html#" class="right i-cancel">关闭</a>
    <span>欢迎来到最专业的中文开发者社区：</span>
    <a class="auth-small" href="http://segmentfault.com/user/login"><img src="http://s.segmentfault.com/img/icon/auth-sf.png?13.10.21.1" alt="SegmentFault"/>立即登录</a>
                <a class="auth-small" href="https://segmentfault.com/user/oauth/google"><img src="http://s.segmentfault.com/img/icon/auth-google-big.png?13.10.21.1" alt="Google" />Google</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/github"><img src="http://s.segmentfault.com/img/icon/auth-github-big.png?13.10.21.1" alt="GitHub" />GitHub</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/weibo"><img src="http://s.segmentfault.com/img/icon/auth-weibo-big.png?13.10.21.1" alt="新浪微博" />新浪微博</a>
            <a class="auth-small" href="https://segmentfault.com/user/oauth/qq"><img src="http://s.segmentfault.com/img/icon/auth-qq-big.png?13.10.21.1" alt="腾讯QQ" />腾讯QQ</a>
    </div>

<a id="backtop" class="mobi-hide hidden" href="zhuqipeng.html#body">回顶部</a>

<script>$(document).ready(function(){$('#session').login();$('input[holder],textarea[holder]').placeholder();$('input.input-error,textarea.input-error').keyup(function(){$('.text-error',$(this).removeClass('input-error').parent()).remove();});$('.has-dropdown').hover(function(){var $item=$('.dropdown-item',this);$item.toggleClass('hid');});$('#site-nav-btn').click(function(){$('.site-nav').toggleClass('mobi-hide');return false;});$('html').click(function(){$('.site-nav').addClass('mobi-hide');});$(document).scroll(function(){if($(this).scrollTop()>720){$('#backtop').removeClass('hidden');}else{$('#backtop').addClass('hidden');}});$('#backtop').click(function(){$('body,html').animate({scrollTop:0});return false;})
$('#msg-link').eventPopup({url:'http://x.segmentfault.com/event'});$('.meta-tags a, .tag').tagPopup('http://segmentfault.com/api/tag','#main');$('#search .input-search').searchAutoComplete({url:'http://x.segmentfault.com/autocomplete',insertAfter:'#search',searchUrl:'http://segmentfault.com/search',askUrl:'http://segmentfault.com/ask',ask:'#top-nav a.btn-m'});$('a.msg-close',$('#msg-bar').fadeIn().sticky()).click(function(){$(this).parent().fadeOut(function(){$(this).parent().remove();});return false;});var topNav=$('.head-nav'),search=$('#search .input-search').css({'position':'relavtive','z-index':10}),searchWidth=search.outerWidth();search.focus(function(){search.animate({width:searchWidth*1.5},'fast');topNav.hide();}).blur(function(){if(0==search.val().length){search.animate({width:searchWidth},'fast',function(){topNav.show();});}});$('.tip-pop').each(function(){var t=$(this),str=t.data('tip');if(!!!str){return;}
t.removeAttr('title');var parts=str.split(':');$(this).tipsy({'html':true,'gravity':parts.shift(),'fallback':parts.join(':')});});if($('#profile-tab,.greeting').length>0){$.get('http://x.segmentfault.com/news',function(o){if(!o.status&&o.data){var cv=$.cookie('sfns_viewed'),viewed=(!!cv?cv+',':'');if(viewed.indexOf(o.data[0])<0){var a=$('<a href="'+o.data[1]+'" target="_blank" class="update-log rounded-2">'
+'<strong>'+o.data[3]+'更新</strong> '+o.data[2]+'</a>').prependTo('#secondary').animate({backgroundColor:'#ffebb7'},'slow',function(){$(this).animate({backgroundColor:'#FFF7E2'},'slow');}).click(function(){$.cookie('sfns_viewed',viewed+o.data[0],{path:'/',expires:30});$(this).remove();});}}},'jsonp');}
if(login){$('#main, .layout-main').highlightTag({url:'http://x.segmentfault.com/tag/following',selector:'#content article .meta-tags li a, #user-question article .meta-tags li a,'
+' .article-item .tags li a',className:'q-highlight'});}else if(0==$('.auth-login,.session-form,.session-finished').length){if(1!=$.cookie('sfln_viewed')){$.cookie('sfln_viewed',1,{path:'/'});$.cookie('sfln_available',1,{path:'/'});}else if(1==$.cookie('sfln_available')){$('.i-cancel',$('.login-notify').css('bottom',-60).removeClass('hidden').animate({'bottom':0})).click(function(){$.cookie('sfln_available',0,{path:'/'});$(this).parents('.login-notify').animate({'bottom':-60},function(){$(this).remove();});return false;});}}
var tagInterestShow=false;$('.tag-interest-click').click(function(){if(!tagInterestShow){$('.tag-interest-list').fadeIn();tagInterestShow=true;}else{$('.tag-interest-list').fadeOut();tagInterestShow=false;}
return false;});});(function(){var hm=document.createElement('script');hm.type='text/javascript';hm.async=true;hm.src='//hm.baidu.com/hm.js?e23800c454aa573c0ccb16b52665ac26';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(hm,s);})();var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-918487-8']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>
<script>$(document).ready(function(){var usersMore=$('.folist .load-more a'),usersPage=2;if(usersMore.length>0){usersMore.click(function(){$.getJSON('http://segmentfault.com/api/user',{'do':'listFollowers','page':usersPage,'id':$(this).data('uid')},function(o){if(!o.status){if(o.data.length>0){for(var i=0;i<o.data.length;i++){var u=o.data[i],html='<article id="u-'+u.id+'" class="post">';html+='<a class="stream-img" href="'+u.url+'">'+'<img class="avatar-40" src="'+u.avatarUrl+'" alt="'
+u.name+'" /></a><div class="p-summary">'
+'<h2><a href="'+u.url+'" title="'+u.name+'">'+u.name+'</a></h2>';if(u.excerpt){html+='<div class="p-excerpt"><p>'+u.excerpt+'</p></div>';}
html+='<div class="meta">'+u.rankWord
+' 声望 &bull; '+u.awards+' 徽章</div></div></article>';var li=$(html).insertBefore(usersMore.parent());}}
if(o.data.length<15){usersMore.parent().remove();}
usersPage++;}});return false;});}
$('.d-action a.btn-l').click(function(){var url='http://segmentfault.com/api/user',t=$(this);$.post(url,{'do':'follow','id':t.data('uid'),'cancel':t.hasClass('unfollow')?1:0},function(o){if(!o.status){if(t.hasClass('unfollow')){t.removeClass('unfollow').addClass('follow').html('加关注');}else{t.removeClass('follow').addClass('unfollow').html('取消关注');}
var count=$('#user-detail .hor-count li.followers strong'),num=count.html(),p=count.parent();p.css('position','relative');count.html(o.data.followedUsers).css('opacity',0.1);$('<strong>'+num+'</strong>').css({'position':'absolute','left':'21px','top':0,'height':count.height(),'z-index':1}).appendTo(p).fadeOut(300);count.animate({opacity:1},300);}else if(7==o.status){$('<p>您关注的用户已经达到 <strong>2000</strong> 的人数上限</p>').modal({'title':'关注用户数达到上限'});}},'json');return false;});$('.post-action .block').click(function(){var cancel=$(this).data('cancel');$('<p>您确认要'+(!cancel?'锁定':'解除锁定')
+'用户「<strong>'+$(this).data('uname')+'</strong>」吗?</p>').modal({'title':!cancel?'锁定确认':'解锁确认','action':!cancel?'锁定':'解除锁定','data':$(this).data('uid'),'onAction':function(c,data){$.post('http://segmentfault.com/api/user',{'do':'block','cancel':cancel,'id':data},function(o){if(!o.status){window.location.reload();}},'json');}});return false;});$('.post-action .delete').click(function(){$('<p>您确认要删除用户「<strong>'+$(this).data('uname')+'</strong>」吗?</p>').modal({'title':'删除确认','action':'删除','data':$(this).data('uid'),'onAction':function(c,data){$.post('http://segmentfault.com/api/user',{'do':'delete','id':data},function(o){if(!o.status){window.location.href='http://segmentfault.com/';}},'json');}});return false;});});</script>
</body>
</html>